<header>
  <h1 style="flex: 1;">{{fql_format 'ForienQuestLog.QuestLog.Labels.TableHeader' (localize (lookup questStatusI18n tab))}}</h1>
  {{#if (or isGM canCreate)}}
    <button class="new-quest-btn"><i class="fas fa-plus"></i> {{localize 'ForienQuestLog.QuestLog.Buttons.AddQuest'}}</button>
  {{/if}}
</header>
<div class="table">
  <ul>
    {{#each quests}}
    {{#with enrich}}
    <li class="drag-quest" data-quest-id="{{id}}" draggable="true">
      {{#if (eq questIconType 'quest-giver')}}
        <div class="open-quest img" style="background-image: url('{{giverData.img}}');" title="{{giverData.name}}"></div>
      {{/if}}
      {{#if (eq questIconType 'splash-image')}}
        <div class="open-quest img" style="background-image: url('{{splash}}')"></div>
      {{/if}}
      {{#if isPrimary}}<i class="open-quest is-primary fas fa-star pad-l-4" title="{{localize 'ForienQuestLog.Tooltips.PrimaryQuest'}}"></i>{{/if}}
      {{#if canEdit}}
        {{#if isHidden}}<i class="open-quest is-hidden fas fa-eye-slash pad-l-4" title="{{localize 'ForienQuestLog.Tooltips.HiddenQuestNoPlayers'}}"></i>{{/if}}
        {{#if isPersonal}}<i class="open-quest is-personal fas fa-user-shield pad-l-4" title="{{{personalActors}}}"></i>{{/if}}
      {{/if}}
      <div class="open-quest title" data-quest-id="{{id}}">
        <h2>{{name}}</h2>
        {{#if isSubquest}}
          <p class="subquest">{{fql_format 'ForienQuestLog.QuestLog.Labels.SubTitle' data_parent.name}}</p>
        {{/if}}
      </div>
      {{#unless (eq ../../showTasks 'no')}}
        <div class="open-quest tasks" title="{{localize 'ForienQuestLog.QuestLog.Tooltips.Objectives'}}">{{checkedTasks}}{{#unless (eq ../../showTasks 'onlyCurrent')}}/{{totalTasks}}{{/unless}}</div>
      {{/unless}}
      {{#if statusActions.length}}
        {{{statusActions}}}
      {{/if}}
    </li>
    {{/with}}
    {{/each}}
  </ul>
</div>
