<section class="details-tab">
    <div class="editable-container"><h2 class="editable" data-target="title">{{title}}</h2></div>
    <div class="grid-container">
        <div class="quest-giver-gc">
            {{#with actor}}
            <div><img class="open-actor-sheet" data-actor-id="{{_id}}" src="{{img}}"/></div>
            <div><span class="open-actor-sheet" data-actor-id="{{_id}}">{{name}}</span></div>
            {{/with}}
        </div>
        <div class="description-gc">
            {{editor target="description" content=description button=true editable=true}}
        </div>
        <div class="tasks-gc">
            <h3>Objectives | <small class="add-new-task">add new</small></h3>
            <div class="tasks-box">
                {{#each tasks.tasks}}
                <div class="task">
                    {{#if ../isGM}}
                    <input type="checkbox" name="task[{{@index}}]" data-task-index="{{@index}}" {{checked completed}}/>
                    {{else}}
                    <span><i class="fas fa-check {{#unless completed}}hidden{{/unless}}"></i></span>
                    {{/if}}
                    <span class="editable-container"><span class="task-name editable" data-target="task.name" data-index="{{@index}}">{{name}}</span></span>
                    {{#if ../isGM}}
                    <span class="del-btn" data-target="tasks" data-index="{{@index}}"><i class="fas fa-times"></i></span>
                    {{/if}}
                </div>
                {{/each}}
            </div>
        </div>
        <div class="rewards-gc">
            <h3>Rewards</h3>
            <div class="rewards-box">
                {{#if noRewards}}
                <span class="drop-info">Drag & drop items here to add them as rewards</span>
                {{else}}
                    {{#each rewards}}
                    <div class="{{type}}-reward {{#if ../isGM}}draggable{{/if}}" data-transfer="{{transfer}}" draggable="true"><img src="{{data.img}}"/><span class="name">{{data.name}}</span>{{#if ../isGM}}<span class="del-btn" data-target="rewards" data-index="{{@index}}"><i class="fas fa-times"></i></span>{{/if}}</div>
                    {{/each}}
                {{/if}}
            </div>
        </div>
    </div>
</section>
