<h1>{{localize (lookup questTypes tab)}} {{localize 'ForienQuestLog.Quests'}}</h1>
<table>
    <tr>
        <th class="quest-giver-col">{{localize 'ForienQuestLog.QuestGiver'}}</th>
        <th class="title-col">{{localize 'ForienQuestLog.QuestName'}}</th>
        {{#unless (eq showTasks 'no')}}
        <th class="tasks-col">{{localize 'ForienQuestLog.QuestTasks'}}</th>
        {{/unless}}
        {{#if isGM}}
        <th class="actions-col">{{localize 'ForienQuestLog.Actions'}}</th>
        {{/if}}
    </tr>
    {{#each quests}}
    <tr data-quest-id="{{id}}">
        <td class="img">{{#if actor.img}}<img class="quest-giver-portrait portrait-small" src="{{actor.img}}">{{/if}}</td>
        <td class="title" data-quest-id="{{id}}">{{title}}</td>
        {{#unless (eq ../showTasks 'no')}}
        <td class="tasks">{{checkedTasks}}{{#unless (eq ../showTasks 'onlyCurrent')}}/{{totalTasks}}{{/unless}}</td>
        {{/unless}}
        {{#if ../isGM}}
        <td class="actions">
            {{#unless (eq ../tab 'active')}}
            <i class="move fas fa-eye" title="{{localize 'ForienQuestLog.Tooltips.SetActive'}}" data-target="active" data-quest-id="{{id}}"></i>
            {{/unless}}
            {{#unless (eq ../tab 'completed')}}
            <i class="move fas fa-star" title="{{localize 'ForienQuestLog.Tooltips.SetCompleted'}}" data-target="completed" data-quest-id="{{id}}"></i>
            {{/unless}}
            {{#unless (eq ../tab 'failed')}}
            <i class="move fas fa-times" title="{{localize 'ForienQuestLog.Tooltips.SetFailed'}}" data-target="failed" data-quest-id="{{id}}"></i>
            {{/unless}}
            {{#unless (eq ../tab 'hidden')}}
            <i class="move fas fa-eye-slash" title="{{localize 'ForienQuestLog.Tooltips.Hide'}}" data-target="hidden" data-quest-id="{{id}}"></i>
            {{/unless}}
            <i class="delete fas fa-trash" title="{{localize 'ForienQuestLog.Tooltips.Delete'}}" data-quest-id="{{id}}"></i>
        </td>
        {{/if}}
    </tr>
    {{/each}}
</table>
