<section class="details-tab">
    <div class="editable-container"><h2 class="editable" data-target="title">{{title}}</h2></div>
    <div class="grid-container">
        <div class="quest-giver-gc">
            {{#with actor}}
            <div>
                <img class="open-actor-sheet" data-actor-id="{{_id}}" src="{{img}}"/>
                {{#if ../isGM}}
                <i class="fas fa-user-circle toggleImage" title="{{localize 'ForienQuestLog.Tooltips.ToggleImage'}}"></i>
                {{/if}}
            </div>
            <div>
                <span class="open-actor-sheet" data-actor-id="{{_id}}">{{name}}</span>
            </div>
            {{/with}}
        </div>
        <div class="description-gc">
            {{#if isGM}}
            {{{editor target="description" content=description button=true editable=true}}}
            {{else}}
            <div class="description">{{{description}}}</div>
            {{/if}}
        </div>
        <div class="tasks-gc">
            <h3>{{localize 'ForienQuestLog.Objectives'}} {{#if isGM}}| <small class="add-new-task">{{localize 'ForienQuestLog.Buttons.AddNewTask'}}</small>{{/if}}</h3>
            <div class="tasks-box">
                {{#each tasks}}
                <div class="task">
                    {{#if ../isGM}}
                    <i class="toggleState fas fa-{{state}}" data-task-index="{{@index}}"></i>
                    {{else}}
                    <span>
                        <i class="fas fa-check state {{#unless completed}}hidden{{/unless}}"></i>
                        <i class="fas fa-times state {{#unless failed}}hidden{{/unless}}"></i>
                    </span>
                    {{/if}}
                    <span class="editable-container"><span class="task-name editable" data-target="task.name" data-index="{{@index}}">{{name}}</span></span>
                    {{#if ../isGM}}
                    <span class="del-btn" data-target="tasks" data-index="{{@index}}"><i class="fas fa-times"></i></span>
                    {{/if}}
                </div>
                {{/each}}
            </div>
        </div>
        <div class="rewards-gc">
            <h3>{{localize 'ForienQuestLog.Rewards'}}</h3>
            <div class="rewards-box">
                {{#if noRewards}}
                <span class="drop-info">{{localize 'ForienQuestLog.DragDropRewards'}}</span>
                {{else}}
                    {{#each rewards}}
                    <div class="{{type}}-reward {{#if ../isGM}}draggable{{/if}}" data-transfer="{{transfer}}" draggable="true"><img src="{{data.img}}"/><span class="name">{{data.name}}</span>{{#if ../isGM}}<span class="del-btn" data-target="rewards" data-index="{{@index}}"><i class="fas fa-times"></i></span>{{/if}}</div>
                    {{/each}}
                {{/if}}
            </div>
        </div>
    </div>
</section>
