<form class="quest-preview">
  <nav class="quest-tabs tabs" data-group="primary">
    <a class="item" data-tab="details">{{localize 'ForienQuestLog.QuestPreview.Tabs.Details'}}</a>
    <a class="item" data-tab="playernotes">{{localize 'ForienQuestLog.QuestPreview.Tabs.PlayerNotes'}}</a>
    {{#if canEdit}}
      {{#if isGM}}
        <a class="item" data-tab="gmnotes">{{localize 'ForienQuestLog.QuestPreview.Tabs.GMNotes'}}</a>
      {{/if}}
      <a class="item" data-tab="management">{{localize 'ForienQuestLog.QuestPreview.Tabs.QuestManagement'}}</a>
      {{#if isActive}}
        {{#if isPrimary}}
          <a class="icon-button"><i class="is-primary fas fa-star pad-l-8" title="{{localize 'ForienQuestLog.QuestPreview.Tooltips.PrimaryQuestUnset'}}"></i></a>
        {{else}}
          <a class="icon-button"><i class="is-primary far fa-star pad-l-8" title="{{localize 'ForienQuestLog.QuestPreview.Tooltips.PrimaryQuestSet'}}"></i></a>
        {{/if}}
      {{/if}}
      {{#if isHidden}}
        <i class="is-hidden fas fa-eye-slash pad-l-8" title="{{localize 'ForienQuestLog.Tooltips.HiddenQuestNoPlayers'}}"></i>
      {{/if}}
      {{#if isPersonal}}
        <i class="is-personal fas fa-user-shield pad-l-8" title="{{{personalActors}}}"></i>
      {{/if}}
    {{/if}}
  </nav>

  <section class="quest-body">
    <div class="tab details" data-group="primary" data-tab="details">
      {{> "modules/forien-quest-log/templates/partials/quest-preview/details.html"}}
    </div>
    <div class="tab playernotes" data-group="primary" data-tab="playernotes">
      {{> "modules/forien-quest-log/templates/partials/quest-preview/playernotes.html"}}
    </div>
    {{#if canEdit}}
      {{#if isGM}}
        <div class="tab gmnotes" data-group="primary" data-tab="gmnotes">
          {{> "modules/forien-quest-log/templates/partials/quest-preview/gmnotes.html"}}
        </div>
      {{/if}}
      {{#if canEdit}}
        <div class="tab management" data-group="primary" data-tab="management">
          {{> "modules/forien-quest-log/templates/partials/quest-preview/management.html"}}
        </div>
      {{/if}}
    {{/if}}
  </section>
</form>
