<form>
  <header>
    <h2>{{localize 'ForienQuestLog.QuestForm.QuestGiver'}}</h2>
    <section class="source-details">
      <div class="source-image giver-data-fieldset">
        <div class="giver-portrait hidden"></div>
        <span class="drop-info">{{localize 'ForienQuestLog.QuestForm.DragDropActor'}}</span>
        <input type="hidden" id="sourceImage" name="sourceImage">
      </div>
      <div class="source-info">
        <div class="quest-giver">
          <label for="giver">{{localize 'ForienQuestLog.QuestForm.QuestGiverPlaceholder'}}</label>
          <input type="text" id="giver" name="giver" readonly>
        </div>
        <div class="quest-giver-name" style="display: none">
          <label for="giver-name">{{localize 'ForienQuestLog.QuestForm.QuestGiverNamePlaceholder'}}</label>
          <input type="text" id="giver-name" name="giverName">
        </div>
      </div>
    </section>
  </header>

  <section class="quest-title">
    <h2>{{localize 'ForienQuestLog.QuestForm.QuestTitle'}}</h2>
    <input type="text" id="title" name="title" placeholder="">
  </section>

  <section class="quest-text">
    <div class="quest-description">
      <h2>{{localize 'ForienQuestLog.QuestForm.QuestDescription'}}</h2>
      {{editor target="description" button=true editable=true}}
    </div>
    <div class="quest-notes">
      <h2>{{localize 'ForienQuestLog.QuestForm.QuestGMNotes'}}</h2>
      {{editor target="gmnotes" button=true editable=true}}
    </div>
  </section>
  <footer class="footer">
    <button class="btn" type="submit" name="submit">{{localize 'ForienQuestLog.QuestForm.Submit'}}</button>
  </footer>
</form>

