<section class="sidebar-tab sidebar-directory flexcol" id="journal" data-tab="journal">
  <ol class="directory-list questlog-floating">
    {{#each quests.active}}
    <li class="directory-item folder flexcol collapsed" data-quest-id="{{id}}" style="display: flex;">
      <header class="folder-header flexrow">
        <h3 class="{{#if tasks}}folder-toggle{{/if}}" data-quest-id="{{id}}">
          <i class="fas fa-bookmark"></i>
          {{name}} {{taskCountLabel}}
        </h3>
        {{#if ../isGM}}
          {{#if isHidden}}<i class="is-hidden fas fa-eye-slash" title="{{localize 'ForienQuestLog.Tooltips.HiddenQuestNoPlayers'}}"></i>{{/if}}
          {{#if isPersonal}}<i class="is-personal fas fa-user-shield" title="{{{personalActors}}}"></i>{{/if}}
        {{/if}}
        <a class="quest-open create-entity" data-quest-id="{{id}}"><i class="fas fa-pen-nib fa-fw"></i></a>
      </header>

      <ol class="subdirectory">
        {{#each data_subquest}}
          {{#if name}}
          <li class="directory-item entity journal flexrow {{#if (eq status 'hidden')}}task-hidden{{/if}}" data-entity-id="0z5dbNtuPgGOQ8ey" style="display: flex;">
            {{#if (eq status 'completed')}}
              <i class="fas fa-check-square"></i>
            {{else}}
              {{#if (eq status 'failed')}}
                <i class="fas fa-minus-square"></i>
              {{else}}
                <i class="far fa-square"></i>
              {{/if}}
            {{/if}}
            <h4 class="entity-name">
              {{name}}
            </h4>
            <a class="quest-open create-entity" style="flex: 0 0 20px" data-quest-id="{{id}}"><i class="fas fa-link"></i></a>

          </li>
          {{/if}}
        {{/each}}
        {{#each data_tasks}}
          <li class="directory-item entity journal flexrow {{#if hidden}}task-hidden{{/if}}" data-entity-id="0z5dbNtuPgGOQ8ey" style="display: flex;">
            {{#if completed}}
              <i class="fas fa-check-square"></i>
            {{else}}
              {{#if failed}}
              <i class="fas fa-minus-square"></i>
              {{else}}
              <i class="far fa-square"></i>
              {{/if}}
            {{/if}}
            <h4 class="entity-name">{{name}}</h4>
          </li>
        {{/each}}
      </ol>
    </li>
    {{else}}
      <span class="no-content">{{localize 'ForienQuestLog.NoActiveQuests'}}</span>
    {{/each}}
  </ol>
</section>