<form>
    <div class="grid-container">

        <fieldset>
            <label for="actor">{{localize 'ForienQuestLog.QuestForm.QuestGiver'}}:</label>
            <input type="text" id="actor" name="actor" placeholder="{{localize 'ForienQuestLog.QuestForm.QuestGiverPlaceholder'}}"/>
            <label for="title">{{localize 'ForienQuestLog.QuestForm.QuestTitle'}}:</label>
            <input type="text" id="title" name="title" placeholder=""/>
        </fieldset>
        <fieldset class="actor-data-fieldset">
            <img src="" class="actor-portrait hidden" />
            <h3 class="actor-name hidden"></h3>

        </fieldset>

        <fieldset class="tinymce-fieldset">
            <label for="description">{{localize 'ForienQuestLog.QuestForm.QuestDescription'}}:</label>
            {{editor target="description" button=true editable=true}}
        </fieldset>
        <fieldset class="tinymce-fieldset">
            <label for="gmnotes">{{localize 'ForienQuestLog.QuestForm.QuestGMNotes'}}:</label>
            {{editor target="gmnotes" button=true editable=true}}
        </fieldset>
        <fieldset class="tasks">
            <h2>{{localize 'ForienQuestLog.QuestTasks'}} | <small class="add-new-task">{{localize 'ForienQuestLog.Buttons.AddNewTask'}}</small></h2>
            <div class="list">

            </div>
        </fieldset>
        <div class="footer">
            <button class="btn" type="submit" name="submit">{{localize 'ForienQuestLog.QuestForm.Submit'}}</button>
        </div>
    </div>
</form>

