<!--
/**
 * Based on https://github.com/Moerill/mess
 * with permission from Moerill
 */
-->
<style>
    .welcome-screen a[href] {
        color: #4a52ca;
    }
    .welcome-screen .window-content > * {
        flex: 0;
    }
    {{#if wfrp4e}}
    .welcome-screen .window-content {
        background: url("/ui/parchment.jpg") repeat !important;
    }
    {{/if}}
</style>

<h1>Thank you for installing and using Forien's Quest Log!</h1>
<p>Make sure to read the <a href="https://github.com/Forien/foundryvtt-forien-quest-log/blob/master/README.md">README</a>, for important information and to learn about this module's features.</p>
<!--<h2>Bugs?</h2>-->
<!--<p>Check <a href="https://github.com/Forien/foundryvtt-forien-quest-log/issuess?q=is%3Aopen+is%3Aissue+label%3Abug">current list of bugs</a> and if yours is not covered there, create new Issue using Bug Report template.-->
<!--<h2>Suggestions? Feature Requests? Feedback?</h2>-->
<!--<p>Don't ask me on Discord. Use the <a href="https://github.com/Forien/foundryvtt-forien-quest-log/issues">GitHubs Issue Board</a> for questions, suggestions, bugs, helping other peoples questions getting answered, etc.</p>-->
<!--<p>Before you post anything, check the issues board first if your issue, question, etc. has been posted already. If yes, comment on the existing post and/or give it a thumbsup!</p>-->
<!--<p>Currently planned features are on the <a href="https://github.com/Forien/foundryvtt-forien-quest-log/issues?q=is%3Aopen+is%3Aissue+label%3Aenhancement">GitHubs Issue Board</a> as well. </p>-->

<!-- temporary -->
<h2>I need your help…</h2>
<p>I feel bad about reaching you like that, but I need to. I am currently unemployed and I spent last month learning and building modules for Foundry. Quest Log is my biggest undertaking in this regard. I work on it pretty much daily, for many hours.</p>
<p>However, I might not be able to continue to do so and be <em>forced</em> to find a job to simply pay my bills and my free time would shrink drastically.</p>
<p>So that's why I'm asking for your help. Hundreds of people downloaded this module and I understand that many of you might be in bad situation as well, totally understandable. But please, <strong>if you can safely afford that, please consider <a href="https://www.patreon.com/forien" target="_blank">becoming a Patron</a></strong>. Every little support counts. It would mean world to me and I would really appreciate every help that would allow me to work on this and many more awesome modules as my job!</p>
<!-- /temporary -->

<p style="font-weight: bold; text-align: right;">Thank you and best regards,<br>Forien</p>

<!-- temporary -->
<h2>Bugs?</h2>
<p>Check <a href="https://github.com/Forien/foundryvtt-forien-quest-log/issuess?q=is%3Aopen+is%3Aissue+label%3Abug">current list of bugs</a> and if yours is not covered there, create new Issue using Bug Report template.
<h2>Suggestions? Feature Requests? Feedback?</h2>
<p>Use the <a href="https://github.com/Forien/foundryvtt-forien-quest-log/issues">GitHubs Issue Board</a> for questions, suggestions, bugs, helping other peoples questions getting answered, etc.</p>
<!-- /temporary -->


<p style="display: flex; flex-flow: row nowrap; align-items: center; justify-content: flex-start;"><input type="checkbox" class='show-again' id="welcome-screen-show-again" {{checked isChecked}}/> <label for="welcome-screen-show-again">Don't show this screen again until next update.</label></p>
<p style="text-align: right">Want to support development? <a href="https://github.com/Forien/foundryvtt-forien-quest-log#support">Click here</a>!</p>

<h1>Changelog</h1>
<!-- https://markdowntohtml.com/ -->
<h3 id="v033">v0.3.3</h3>
<ul>
    <li>Fixed editable inputs cutting off text after double quotation character</li>
    <li>Added popup when attempting to close the Quest Form window without submitting.</li>
    <li>Added option to link quests in rich text environments with <code>@Quest[id]</code> and <code>@Quest[quest name]</code>. Hacky way, might be unstable. </li>
    <li>Added Configuration setting that allows GM turn off displaying Welcome Screen to players. Enabled by default</li>
    <li>Added "Help" button in Quest Log's header that allows to open Welcome Screen at any time. </li>
</ul>
<h3 id="v032">v0.3.2</h3>
<ul>
    <li>Added French translation provided by Discord members rectulo and Naoki</li>
    <li>Abstract Rewards now are a little transparent (0.9 opacity) and their text is in italic</li>
</ul>
<h3 id="v031">v0.3.1</h3>
<ul>
    <li>Added Korean translation provided by Discord member KLO</li>
    <li>Show GM information if players can't see shared quest</li>
</ul>
<h2 id="v030">v0.3.0</h2>
<ul>
    <li>Added „Personal Quests”, a feature that allows GM to show any Quest to only specific player(s).</li>
    <li>Added Entity linking to Tasks (for example <code>@Actor[Vash]</code> or <code>@Item[Cursed Sword]</code>).<ul>
        <li>Fixed Entity linking in Description for players.</li></ul></li>
    <li>Added „Available Tab” as an optional setting. Redone actions so they make more sense in their context.</li>
    <li>Added option allowing GM to hide any Task and Reward from players.</li>
    <li>Added "Abstract" type Rewards, which are not "Item" entities, are not draggable, but can have any name and image applied to them. </li>
    <li>Added optional Settings option that when checked, allows Players to drag Rewards onto their Actor sheets. (disabled by default)</li>
    <li>Added "Show Players" button for Quest Details, that will force open Quests Details for all players that have permission to see it.</li>
    <li>Hidden journal folder for quest data even for GM. Can be turned on back in settings.</li>
    <li>Changed some module settings to be client-side (centering titles, way of rendering bookmarks).</li>
    <li>Styling adjustments, including:<ul>
        <li>Fixed floating checkmarks for tasks when tasks overflow box. </li>
        <li>Added visible indication of each Task to help players distinguish separate tasks.</li>
        <li>Changed the way Quest Log is scrolling with many quests.</li>
        <li>Added scrolling to Tasks and Rewards, because people are crazy.</li></ul></li>
    <li>Created API at <code>game.quests</code> for use in Macros and Modules.</li>
    <li>Using API, allowed to drag&amp;drop Quests from Quest Log onto Hotbar to create an "Open Quest" macro. </li>
    <li>Provided code comment blocks for most Functions. Not yet a Documentation, but could help those who peek at my module to learn. </li>
</ul>
<h2 id="v02x">v0.2.X</h2>
<h3 id="v024">v0.2.4</h3>
<ul>
    <li>Added German translation provided by Discord member Acd-Jake</li>
</ul>
<h3 id="v023">v0.2.3</h3>
<ul>
    <li>Added Japanese translation provided by Discord member Brother Sharp</li>
    <li>Added option to sort Quest Log</li>
    <li>Hidden "add new task" from players</li>
    <li>Added option to change rendering style of tabs</li>
    <li>Added module setting for centering titles in Quest Log</li>
    <li>Added Actor's name as a tooltip in Quest Log</li>
</ul>
<h3 id="v022">v0.2.2</h3>
<ul>
    <li>Allowed to change quest giver to existing quest by draggin new actor onto preview</li>
    <li>Widened and squished Tasks and Rewards boxes respectively to allow better space management</li>
    <li>Added word wrapping for tasks</li>
    <li>Fixed distorted Quest Giver's images</li>
    <li>Moved window initialization to 'ready' hook to fix translation</li>
</ul>
<h3 id="v021">v0.2.1</h3>
<ul>
    <li>Fully prepared module for translation - all strings should be translatable</li>
    <li>Added scroll for overflowing quest's description</li>
    <li>Added toggle between Actor's/Token's image for Quest Giver's image</li>
    <li>Added failed state for tasks</li>
    <li>Translated to Polish</li>
</ul>
<h2 id="v020">v0.2.0</h2>
<ul>
    <li>Initial release</li>
</ul>
