<header class="details-header">
  <div class="quest-giver-gc">
    {{#if (eq giver null)}}
    <span class="drop-info">{{localize 'ForienQuestLog.QuestPreview.DragDropActor'}}</span>
    {{/if}}
    {{#with data_giver}}
    <div class="quest-giver-image open-actor-sheet " data-actor-id="{{id}}" style="background-image: url({{img}});background-position: {{../giverImgPos}};" title="{{name}}"></div>
    {{#if (and ../canEdit ../image img)}}
      {{#if hasTokenImg}}
      <span class="toggleImage" title="{{localize 'ForienQuestLog.Tooltips.ToggleImage'}}"><i class="fas fa-user-circle"></i></span>
      {{/if}}
    <span class="deleteQuestGiver" title="{{localize 'ForienQuestLog.Tooltips.DeleteQuestGiver'}}"><i class="fas fa-times"></i></span>
    <span class="changeGiverImgPos" title="{{localize 'ForienQuestLog.Tooltips.ChangeGiverImgPos'}}"><i class="fas fa-arrows-alt"></i></span>
    {{/if}}

    {{/with}}
  </div>

  <div class="quest-setup">
    <div class="quest-title">
      <div class="editable-container">
        <h1>
          {{name}}
        </h1>
      </div>
      {{#if canEdit}}
      <div class="actions">
        <i class="fas fa-pen editable {{#unless isGM}}hidden{{/unless}}" data-target="name" title="{{localize 'ForienQuestLog.Tooltips.Edit'}}"></i>
      </div>
      {{/if}}
    </div>
    <section>
      <div class="quest-details">

        <div class="quest-giver-name">
          {{#with data_giver}}
          <h2 class="open-actor-sheet" data-actor-id="{{uuid}}" title="Quest Source">{{name}}</h2>
          {{/with}}
        </div>
        <div class="quest-status {{this.status}}">
          <p>
            Quest is {{this.statusLabel}}
          </p>
          {{#if isSubquest}}
          <p class="quest-name" data-id="{{data_parent.id}}">{{format 'ForienQuestLog.QuestPreview.SubTitle' data_parent.name}} <i class="fas fa-link"></i></p>
          {{/if}}
        </div>
      </div>

      {{#if splash.length}}
      <div class="splash-image-link" style="background-image: url({{splash}});background-position: {{splashPos}};" title="View Quest Image">
        <span><i class="fas fa-eye"></i></span>
      </div>
      {{/if}}

      {{#if canEdit}}
      <div class="actions">
        {{#if (or (eq status 'hidden') (eq status 'available'))}}
        <i class="move fas fa-play" title="{{localize 'ForienQuestLog.Tooltips.SetActive'}}" data-target="active" data-id="{{id}}"></i>
        {{/if}}
        {{#if (eq status 'hidden')}}
        <i class="move fas fa-clipboard" title="{{localize 'ForienQuestLog.Tooltips.SetAvailable'}}" data-target="available" data-id="{{id}}"></i>
        {{/if}}
        {{#if (eq status 'active')}}
        <i class="move fas fa-check-circle" title="{{localize 'ForienQuestLog.Tooltips.SetCompleted'}}" data-target="completed" data-id="{{id}}"></i>
        <i class="move fas fa-times-circle" title="{{localize 'ForienQuestLog.Tooltips.SetFailed'}}" data-target="failed" data-id="{{id}}"></i>
        {{/if}}
        {{#unless (eq status 'hidden')}}
        <i class="move fas fa-stop-circle" title="{{localize 'ForienQuestLog.Tooltips.Hide'}}" data-target="hidden" data-id="{{id}}"></i>
        {{/unless}}
      </div>
      {{/if}}
    </section>

  </div>

</header>

<div class="quest-info">

  <div class="quest-description">
    <h2>{{localize 'ForienQuestLog.QuestForm.QuestDescription'}}</h2>
    {{#if (or canEdit playerEdit)}}
    {{{editor target="description" content=description button=true editable=true owner=canEdit}}}
    {{else}}
    <div class="description">
      <div class="description-content">{{{description}}}</div>
    </div>
    {{/if}}
  </div>

  <div class="quest-col-right">

    <div class="quest-tasks">
      <header>
        <h2>{{localize 'ForienQuestLog.QuestPreview.Objectives'}}</h2>
        {{#if (or canEdit playerEdit)}}<button class="add-new-task"><i class="fas fa-plus"></i> {{localize 'ForienQuestLog.Buttons.AddNewTask'}}</button>{{/if}}
      </header>
      <div class="quest-box tasks-box">
        <ul>
          {{#each data_subquest}}
          {{#if this.name}}
          <li class="task {{#if (eq status 'hidden')}}task-hidden{{/if}}">
            <div class="state-container">
              <span class="state-display">
                <i class="fas fa-check state {{#unless (eq status 'completed')}}hidden{{/unless}}"></i>
                <i class="fas fa-times state {{#unless (eq status 'failed')}}hidden{{/unless}}"></i>
              </span>
            </div>
            <p class="quest-name" data-id="{{id}}">{{name}} <i class="fas fa-link"></i></p>
          </li>
          {{/if}}
          {{/each}}
          {{#each data_tasks}}
          <li class="task {{#if hidden}}task-hidden{{/if}}" data-uuidv4="{{uuidv4}}">
            {{#if (or ../canEdit ../playerEdit)}}
            <i class="toggleState fas fa-{{state}}" data-uuidv4="{{uuidv4}}"></i>
            {{else}}
            <div class="state-container">
              <span class="state-display">
                <i class="fas fa-check state {{#unless completed}}hidden{{/unless}}"></i>
                <i class="fas fa-times state {{#unless failed}}hidden{{/unless}}"></i>
              </span>
            </div>
            {{/if}}
            <div class="editable-container">
              <p class="task-name">{{name}}</p>
            </div>
            {{#if (or ../canEdit ../playerEdit)}}
            <div class="actions">
              <i class="fas fa-sort" draggable="true"></i>
              <i class="editable fas fa-pen" data-target="task.name" data-uuidv4="{{uuidv4}}" title="{{localize 'ForienQuestLog.Tooltips.Edit'}}"></i>
              {{#if ../canEdit}}
                {{#if hidden}}
                <i class="fas fa-eye toggleHidden" data-target="task" data-uuidv4="{{uuidv4}}" title="{{localize 'ForienQuestLog.Tooltips.TaskHidden'}}"></i>
                {{else}}
                <i class="fas fa-eye-slash toggleHidden" data-target="task" data-uuidv4="{{uuidv4}}" title="{{localize 'ForienQuestLog.Tooltips.TaskVisible'}}"></i>
                {{/if}}
              {{/if}}
              <i class="del-btn fas fa-trash" data-target="tasks" data-name="{{name}}" data-uuidv4="{{uuidv4}}" title="{{localize 'ForienQuestLog.Tooltips.Delete'}}"></i>
            </div>
            {{/if}}
          </li>
          {{/each}}
        </ul>
      </div>
    </div>

    <div class="quest-rewards">
      <header>
        <h2>{{localize 'ForienQuestLog.QuestPreview.Rewards'}}</h2>
        {{#if canEdit}}
        <button class="show-all-rewards" title="{{localize 'ForienQuestLog.Tooltips.ShowAllRewards'}}"><i class="fas fa-eye-slash"></i> {{localize 'ForienQuestLog.Tooltips.ShowAllRewards'}}</button>
        <button class="add-abstract" title="{{localize 'ForienQuestLog.Tooltips.AddAbstractReward'}}"><i class="fas fa-plus"></i> {{localize 'ForienQuestLog.Tooltips.AddAbstractReward'}}</button>
        {{/if}}
      </header>
      <div class="quest-box rewards-box">
        <ul>
        {{#each data_rewards}}
        <li class="reward {{type}}-reward {{#if (and draggable)}}draggable{{/if}} {{#if hidden}}reward-hidden{{/if}}" data-transfer="{{transfer}}" data-uuidv4="{{uuidv4}}" {{#if draggable}}draggable="true"{{/if}}>
          <div class="reward-image-container">
            <div class="reward-image" style="background-image: url({{img}})" data-uuidv4="{{uuidv4}}"></div>
          </div>
          <div class="editable-container" data-transfer="{{transfer}}" data-uuidv4="{{uuidv4}}">
            <p class="reward-name">{{name}}</p>
          </div>
          {{#if ../canEdit}}
          <div class="actions">
            <i class="fas fa-sort" draggable="true"></i>
            {{#if (eq type "abstract")}}
            <i class="editable fas fa-pen" data-target="reward.name" data-uuidv4="{{uuidv4}}" title="{{localize 'ForienQuestLog.Tooltips.Edit'}}"></i>
            {{/if}}
            {{#if hidden}}
            <i class="fas fa-eye toggleHidden" data-target="reward" data-uuidv4="{{uuidv4}}" title="{{localize 'ForienQuestLog.Tooltips.RewardHidden'}}"></i>
            {{else}}
            <i class="fas fa-eye-slash toggleHidden" data-target="reward" data-uuidv4="{{uuidv4}}" title="{{localize 'ForienQuestLog.Tooltips.RewardVisible'}}"></i>
            {{/if}}
            <i class="del-btn fas fa-trash" data-target="rewards" data-name="{{name}}" data-uuidv4="{{uuidv4}}" title="{{localize 'ForienQuestLog.Tooltips.Delete'}}"></i>
          </div>
          {{/if}}

        </li>
        {{/each}}
        {{#if canEdit}}
          <li class="drop-info {{#unless isGM}}hidden{{/unless}}">{{localize 'ForienQuestLog.QuestPreview.DragDropRewards'}}</li>
        {{/if}}
        </ul>
      </div>
    </div>

  </div>

</div>
