<header class="details-header">
  <div class="quest-giver-gc">
    {{#if (eq giver null)}}
      {{#if (or canEdit playerEdit)}}
        <span class="drop-info">
          {{#if canEdit}}
            {{localize 'ForienQuestLog.QuestPreview.Labels.DragDropActor'}}
          {{else}}
            {{localize 'ForienQuestLog.QuestPreview.Labels.DragDropActorPlayer'}}
          {{/if}}
        </span>
      {{/if}}
    {{else}}
      {{#with giverData}}
        <div class="quest-giver-image" data-actor-uuid="{{uuid}}" style="background-image: url('{{img}}');" title="{{name}}"></div>
        {{#if (and (or ../canEdit ../playerEdit) ../image img)}}
          {{#if hasTokenImg}}
            <span class="toggleImage" title="{{localize 'ForienQuestLog.QuestPreview.Tooltips.ToggleImage'}}"><i class="fas fa-user-circle"></i></span>
          {{/if}}
        <span class="deleteQuestGiver" title="{{localize 'ForienQuestLog.QuestPreview.Tooltips.DeleteQuestGiver'}}"><i class="fas fa-times"></i></span>
        {{/if}}
      {{/with}}
    {{/if}}
  </div>

  <div class="quest-setup">
    <div class="quest-title">
      <div class="editable-container">
        <h1>
          {{name}}
        </h1>
      </div>
      {{#if (or canEdit playerEdit)}}
      <div class="actions-single quest-name">
        <i class="fas fa-pen editable" data-target="name" title="{{localize 'ForienQuestLog.Tooltips.Edit'}}"></i>
      </div>
      {{/if}}
    </div>
    <section>
      <div class="quest-details">

        <div class="quest-giver-name">
          {{#with giverData}}
            <div class="editable-container">
              <h2 class="open-actor-sheet" data-actor-uuid="{{uuid}}" title="Quest Source">{{name}}</h2>
            </div>
          {{/with}}
          {{#if (and canEdit (eq giver 'abstract'))}}
          <div class="actions-single">
            <i class="fas fa-pen editable" data-target="giverName" title="{{localize 'ForienQuestLog.Tooltips.Edit'}}"></i>
          </div>
          {{/if}}
        </div>
        <div class="quest-status {{status}}">
          <p>
            {{statusLabel}}
          </p>
          {{#if isSubquest}}
            <p class="quest-name-link" data-quest-id="{{data_parent.id}}">
              {{fql_format 'ForienQuestLog.QuestLog.Labels.SubTitle' data_parent.name}}
              <i class="fas fa-link"></i>
              {{#if data_parent.isPrimary}}<i class="is-primary fas fa-star" title="{{localize 'ForienQuestLog.Tooltips.PrimaryQuest'}}"></i>{{/if}}
            </p>
          {{/if}}
        </div>
      </div>

      {{#if splash.length}}
      <div class="splash-image-link" style="background-image: url('{{splash}}');background-position: {{splashPos}};" title="{{localize 'ForienQuestLog.QuestPreview.Tooltips.ViewSplashArt'}}">
        <span><i class="fas fa-eye"></i></span>
      </div>
      {{/if}}
      {{#if (and statusActions.length (or canAccept canEdit))}}
        {{{statusActions}}}
      {{/if}}
    </section>

  </div>

</header>

<div class="quest-info">

  <div class="quest-description">
    <h2>{{localize 'ForienQuestLog.QuestPreview.Labels.Description'}}</h2>
    {{#if (or canEdit playerEdit)}}
      {{{editor description target="description" engine="prosemirror" button=true editable=true owner=true}}}
    {{else}}
    <div class="description">
      <div class="description-content">{{{description}}}</div>
    </div>
    {{/if}}
  </div>

  <div class="quest-col-right">

    <div class="quest-tasks">
      <header>
        <h2>{{localize 'ForienQuestLog.QuestPreview.Labels.Objectives'}}</h2>
        {{#if (or canEdit playerEdit)}}<button class="add-new-task" title="{{localize 'ForienQuestLog.QuestPreview.Tooltips.AddObjective'}}"><i class="fas fa-plus"></i> {{localize 'ForienQuestLog.QuestPreview.Labels.Objective'}}</button>{{/if}}
      </header>
      <div class="quest-box tasks-box">
        <ul>
          {{#each data_subquest}}
          {{#if name}}
            <li class="task {{#if (or isHidden isInactive)}}task-hidden{{/if}}">
              <div class="state-container">
                <span class="state-display">
                  <i class="fas fa-check state {{#unless (eq status 'completed')}}hidden{{/unless}}"></i>
                  <i class="fas fa-times state {{#unless (eq status 'failed')}}hidden{{/unless}}"></i>
                </span>
              </div>
              {{#if ../canEdit}}
                 {{#if isHidden}}<i class="is-hidden fas fa-eye-slash pad-l-4" title="{{localize 'ForienQuestLog.Tooltips.HiddenQuestNoPlayers'}}"></i>{{/if}}
                 {{#if isPersonal}}<i class="is-personal fas fa-user-shield pad-l-4" title="{{{personalActors}}}"></i>{{/if}}
              {{/if}}
              <div class="quest-name-link" title="{{statusTooltip}}" data-quest-id="{{id}}">
                <div class="{{../wrapNameLengthCSS}}">
                  {{name}}
                  <i class="fas fa-link"></i>
                  {{#if isPrimary}}<i class="is-primary fas fa-star" title="{{localize 'ForienQuestLog.Tooltips.PrimaryQuest'}}"></i>{{/if}}
                </div>
              </div>
              {{#if (or ../canEdit statusActions.length)}}
                {{{statusActions}}}
              {{/if}}
            </li>
          {{/if}}
          {{/each}}
          {{#each data_tasks}}
          <li class="task {{#if hidden}}task-hidden{{/if}}" data-uuidv4="{{uuidv4}}">
            {{#if (or ../canEdit ../playerEdit)}}
            <i class="toggleState fas fa-{{state}}" data-uuidv4="{{uuidv4}}"></i>
            {{else}}
            <div class="state-container">
              <span class="state-display">
                <i class="fas fa-check state {{#unless completed}}hidden{{/unless}}"></i>
                <i class="fas fa-times state {{#unless failed}}hidden{{/unless}}"></i>
              </span>
            </div>
            {{/if}}
            <div class="editable-container">
              <p class="task-name {{../wrapNameLengthCSS}}">{{{name}}}</p>
            </div>
            {{#if (or ../canEdit ../playerEdit)}}
            <div class="actions tasks {{#unless ../canEdit}}is-player{{/unless}}">
              <i class="fas fa-sort" draggable="true"></i>
              <span class="spacer"></span>
              {{#if ../canEdit}}
                {{#if hidden}}
                  <i class="fas fa-eye-slash toggleHidden" data-target="task" data-uuidv4="{{uuidv4}}" title="{{localize 'ForienQuestLog.QuestPreview.Tooltips.TaskHidden'}}"></i>
                {{else}}
                  <i class="fas fa-eye toggleHidden" data-target="task" data-uuidv4="{{uuidv4}}" title="{{localize 'ForienQuestLog.QuestPreview.Tooltips.TaskVisible'}}"></i>
                {{/if}}
              {{/if}}
              <i class="editable fas fa-pen" data-target="task.name" data-uuidv4="{{uuidv4}}" title="{{localize 'ForienQuestLog.Tooltips.Edit'}}"></i>
              <i class="delete fas fa-trash" data-target="tasks" data-task-name="{{name}}" data-uuidv4="{{uuidv4}}" title="{{localize 'ForienQuestLog.Tooltips.Delete'}}"></i>
              <span class="justify-center"></span>
            </div>
            {{/if}}
          </li>
          {{/each}}
        </ul>
        <template id="camera-views">…</template>      </div>
    </div>

    <div class="quest-rewards">
      <header>
        <h2>{{localize 'ForienQuestLog.QuestPreview.Labels.Rewards'}}</h2>
        {{#if canEdit}}
          {{#if data_rewards.length}}
            {{#if allRewardsVisible}}
              <button class="hide-all-rewards" title="{{localize 'ForienQuestLog.QuestPreview.Tooltips.HideAll'}}"><i class="fas fa-eye-slash"></i> {{localize 'ForienQuestLog.QuestPreview.Buttons.RewardHide'}}</button>
            {{else}}
              <button class="show-all-rewards" title="{{localize 'ForienQuestLog.QuestPreview.Tooltips.ShowAll'}}"><i class="fas fa-eye"></i> {{localize 'ForienQuestLog.QuestPreview.Buttons.RewardShow'}}</button>
            {{/if}}
            {{#if allRewardsUnlocked}}
              <button class="lock-all-rewards" title="{{localize 'ForienQuestLog.QuestPreview.Tooltips.LockAll'}}"><i class="fas fa-lock"></i> {{localize 'ForienQuestLog.QuestPreview.Buttons.RewardLock'}}</button>
            {{else}}
              <button class="unlock-all-rewards" title="{{localize 'ForienQuestLog.QuestPreview.Tooltips.UnlockAll'}}"><i class="fas fa-unlock-alt"></i> {{localize 'ForienQuestLog.QuestPreview.Buttons.RewardUnlock'}}</button>
            {{/if}}
          {{/if}}
          <button class="add-abstract" title="{{localize 'ForienQuestLog.QuestPreview.Tooltips.AddCustom'}}"><i class="fas fa-plus"></i> {{localize 'ForienQuestLog.QuestPreview.Buttons.RewardCustom'}}</button>
        {{/if}}
      </header>
      <div class="quest-box rewards-box">
        <ul>
        {{#each data_rewards}}
        <li class="reward {{type}}-reward {{#if hidden}}reward-hidden{{/if}}" data-uuidv4="{{uuidv4}}">
          <div class="reward-image-container {{#if ../canEdit}}can-edit{{/if}}">
            <div class="reward-image" style="background-image: url('{{img}}')" data-uuidv4="{{uuidv4}}"></div>
          </div>
          <div class="editable-container {{#if draggable}}draggable{{/if}} {{#if isLink}}is-link{{/if}}" data-transfer="{{transfer}}" data-uuidv4="{{uuidv4}}" {{#if draggable}}draggable="true"{{/if}}>
            <p class="reward-name">{{{name}}}</p>
          </div>
          <div class="actions rewards {{#unless ../canEdit}}is-player{{/unless}}">
            {{#if ../canEdit}}
              <i class="sort fas fa-sort" draggable="true"></i>
              <span class="spacer"></span>
              {{#if hidden}}
                <i class="fas fa-eye-slash toggleHidden" data-target="reward" data-uuidv4="{{uuidv4}}" title="{{localize 'ForienQuestLog.QuestPreview.Tooltips.RewardHidden'}}"></i>
              {{else}}
                <i class="fas fa-eye toggleHidden" data-target="reward" data-uuidv4="{{uuidv4}}" title="{{localize 'ForienQuestLog.QuestPreview.Tooltips.RewardVisible'}}"></i>
              {{/if}}
            {{/if}}
            {{#if locked}}
              <i class="fas fa-lock toggleLocked {{#unless ../canEdit}}is-player{{/unless}}" data-target="reward" data-uuidv4="{{uuidv4}}" title="{{lockedTooltip}}"></i>
            {{else}}
              <i class="fas fa-unlock-alt toggleLocked {{#unless ../canEdit}}is-player{{/unless}}" data-target="reward" data-uuidv4="{{uuidv4}}" title="{{unlockedTooltip}}"></i>
            {{/if}}
            {{#if ../canEdit}}
              {{#if (eq type 'abstract')}}
                <i class="editable fas fa-pen" data-target="reward.name" data-uuidv4="{{uuidv4}}" title="{{localize 'ForienQuestLog.Tooltips.Edit'}}"></i>
              {{else}}
                <span class="spacer-edit"></span>
              {{/if}}
              <i class="delete fas fa-trash" data-target="rewards" data-reward-name="{{name}}" data-uuidv4="{{uuidv4}}" title="{{localize 'ForienQuestLog.Tooltips.Delete'}}"></i>
              <span class="justify-center"></span>
            {{/if}}
          </div>

        </li>
        {{/each}}
        {{#if canEdit}}
          <li class="drop-info">{{localize 'ForienQuestLog.QuestPreview.Labels.DragDropRewards'}}</li>
        {{/if}}
        </ul>
      </div>
    </div>
  </div>
</div>
