<div class="row" xmlns="http://www.w3.org/1999/html">
  <section class="quest-settings">
    <h2>{{localize 'ForienQuestLog.QuestPreview.Management.QuestSettings'}}</h2>
    <div class="setting-groups">
      <button class="btn configure-perm-btn"><i class="fas fa-lock fa-fw"></i>{{localize 'ForienQuestLog.QuestPreview.Management.ConfigurePermissions'}}</button>
    </div>
  </section>

  <section class="quest-splash">
    <h2>{{localize 'ForienQuestLog.QuestPreview.Management.SplashArt'}}</h2>
    <div class="splash-image" style="background-image: url({{splash}});background-position: {{splashPos}};" title="{{localize 'ForienQuestLog.Tooltips.Edit'}}"></div>
  {{#if splash.length}}
    <span class="delete-splash" title="{{localize 'ForienQuestLog.Tooltips.DeleteSplash'}}"><i class="fas fa-times"></i></span>
    <span class="change-splash-pos" title="{{localize 'ForienQuestLog.Tooltips.ChangeSplashPos'}}"><i class="fas fa-arrows-alt"></i></span>
  {{/if}}
  </section>
</div>
<section class="subquests">
  <h2>{{localize 'ForienQuestLog.QuestPreview.Management.QuestBranching'}}</h2>
  <ul class="subquests-box">
    {{#each data_subquest}}
    <li class="subquest-item">
      <h2 class="quest-name" data-id="{{this.id}}">{{this.name}}</h2>
      <div class="actions">
        
        {{#if (eq this.status 'active')}}
        <i class="move fas fa-check-circle" title="{{localize 'ForienQuestLog.Tooltips.SetCompleted'}}" data-target="completed" data-id="{{this.id}}"></i>
        <i class="move fas fa-times-circle" title="{{localize 'ForienQuestLog.Tooltips.SetFailed'}}" data-target="failed" data-id="{{this.id}}"></i>
        {{/if}}
        {{#if (eq this.status 'hidden')}}
        <i class="move fas fa-play" title="{{localize 'ForienQuestLog.Tooltips.SetActive'}}" data-target="active" data-id="{{this.id}}"></i>
        {{else}}
        <i class="move fas fa-stop-circle" title="{{localize 'ForienQuestLog.Tooltips.Hide'}}" data-target="hidden" data-id="{{this.id}}"></i>
        {{/if}}
        <i class="delete fas fa-trash" title="{{localize 'ForienQuestLog.Tooltips.Delete'}}" data-id="{{this.id}}"></i>
      </div>
    </li>
    {{/each}}
  </ul>
  <footer>
    <button class="btn add-subquest-btn">{{localize 'ForienQuestLog.QuestPreview.Management.AddSubquest'}}</button>
  </footer>
</section>
