// Support for Whetstone and nascent lib-themer (unfinished)
$background-color-light: rgba(255, 255, 255, .5);
$background-image: var(--palette-app-background-image, url("/ui/parchment.jpg")) repeat;

$primary-color-accent: var(--palette-primary, var(--default-primary-accent, #ff6400));

$primary-color-icon: rgba(0,0,0,.75);

$primary-color-darkbg-text: #EEE;
$primary-color-darkbg-text-hidden: #ffffff88;
$primary-color-entity-link: black;

$primary-color-bg-drop: rgba(0, 0, 0, .1);
$primary-color-hover-drop: rgba(0, 0, 0, .075);

$primary-color-bg-repositionable-app: #33333399;
$primary-color-border-repositionable-app: #11111177;

$primary-color-header-border: var(--palette-primary, var(--default-primary-accent, #782e22));