// Support for Whetstone and nascent lib-themer (unfinished)
$background-color-light: rgba(255, 255, 255, .5);
$log-bookmark-image-background: var(--palette-app-background-image, url(../../../ui/parchment.jpg)) repeat;

$primary-color-accent: var(--palette-primary, var(--default-primary-accent, #ff6400));

$primary-color-borderheader: var(--palette-primary, var(--default-primary-accent, #782e22));

$primary-color-bg-buttonspan: var(--default-secondary-accent, rgba(255, 255, 255, .75));

$primary-color-border-drop: rgba(0, 0, 0, .5);
$primary-color-bg-drop: rgba(0, 0, 0, .1);
$primary-color-hover-drop: rgba(0, 0, 0, .075);

$primary-color-bg-li: rgba(255, 255, 255, .4);
$primary-color-bg-li-hidden: rgba(255, 255, 255, .2);

$primary-color-icon: rgba(0,0,0,.75);

$primary-color-bg-nav: rgba(255,255,255,.2);

$primary-color-text: var(--default-primary-color, #EEE);
$primary-color-text-hidden: #888888;
$primary-color-text-hover: var(--default-primary-accent, red);

$icon-color-primary-quest: gold;
$icon-color-show-background: lightblue;
$icon-color-completed: rgba(0, 175, 0, .8);
$icon-color-failed: rgba(200, 0, 0, .8);
$icon-color-trashcan: rgba(255, 0, 0, .6);

// LibThemer support for QuestTracker
$tracker-color-background: var(--palette-fql-qt-color-background, #00000000);
$tracker-image-background: var(--palette-fql-qt-image-background, url(../../../ui/denim075.png)) repeat;
$tracker-image-background-blend-mode: var(--palette-fql-qt-image-background-blend-mode, normal);

$tracker-color-text: var(--palette-fql-qt-text-color, #{$primary-color-text});
$tracker-color-text-hidden: var(--palette-fql-qt-text-color-shaded-text, #{$primary-color-text-hidden});

$tracker-color-background-entitylink: var(--palette-fql-qt-color-background-entitylink, #ddd);
$tracker-color-text-entitylink: var(--palette-fql-qt-color-background-entitylink-contrast-text, black);

// Doesn't work quite right as game systems can provide style overrides.
//$tracker-color-text-hover: var(--palette-fql-qt-text-color-light, #{$primary-color-text-hover});
