$background-parchment: url("/ui/parchment.jpg") repeat;
$background-parchment-dark: url("/modules/dnd5e-dark-mode/ui/parchment_dark.jpg") repeat;

$background-color-light: rgba(255,255,255,.5);
$primary-accent-color: #ff6400;

$button-background: #F2F1EA;
$button-hover: #efefef;
$button-border: #333;

@import 'quest-general', 'quest-log', 'quest-form', 'quest-preview';