@charset "UTF-8";
#forien-quest-log .window-content,
#forien-quest-log-form .window-content,
.window-app.forien-quest-preview .window-content {
  padding: 0;
  height: 100%;
  overflow-x: unset;
  overflow-y: unset;
}
#forien-quest-log .tab,
#forien-quest-log-form .tab,
.window-app.forien-quest-preview .tab {
  height: 100%;
  display: none;
}
#forien-quest-log .tab.active,
#forien-quest-log-form .tab.active,
.window-app.forien-quest-preview .tab.active {
  display: block;
}
#forien-quest-log h1,
#forien-quest-log-form h1,
.window-app.forien-quest-preview h1 {
  flex: 0 0 1px;
  font-size: 22px;
  line-height: 1;
  font-weight: 700;
  padding: 0 0 4px 0;
  margin: 0 0 8px 0;
}
#forien-quest-log h2,
#forien-quest-log-form h2,
.window-app.forien-quest-preview h2 {
  font-size: 18px;
  font-weight: 700;
  padding: 0 0 2px 0;
  margin: 0 0 4px 0;
  border-width: 2px;
}
#forien-quest-log label,
#forien-quest-log-form label,
.window-app.forien-quest-preview label {
  display: block;
  margin-bottom: 3px;
}
#forien-quest-log input[type=text],
#forien-quest-log-form input[type=text],
.window-app.forien-quest-preview input[type=text] {
  border: none;
  background: rgba(255, 255, 255, 0.5);
  padding: 4px 8px;
  box-shadow: 0 0 3px 1px transparent inset;
  transition: box-shadow 0.3s ease;
  height: 26px;
}
#forien-quest-log input[type=text]:hover,
#forien-quest-log-form input[type=text]:hover,
.window-app.forien-quest-preview input[type=text]:hover {
  box-shadow: 0 0 0 1px #ff6400 inset;
}
#forien-quest-log button,
#forien-quest-log-form button,
.window-app.forien-quest-preview button {
  height: 30px;
  border-radius: 5px;
  margin-top: 2px;
  margin-right: 4px;
  margin-bottom: 2px;
  transition: border-color 0.3s ease, background 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
}
#forien-quest-log button:first-child,
#forien-quest-log-form button:first-child,
.window-app.forien-quest-preview button:first-child {
  margin-left: 0;
}
#forien-quest-log nav,
#forien-quest-log-form nav,
.window-app.forien-quest-preview nav {
  flex: 0 0 40px;
  background: rgba(255, 255, 255, 0.3);
  justify-content: flex-start;
  align-items: center;
  padding: 0 16px;
  font-size: larger;
}
#forien-quest-log nav .item,
#forien-quest-log-form nav .item,
.window-app.forien-quest-preview nav .item {
  text-align: left;
  flex: 0 0 1px;
  margin-left: 1rem;
  white-space: nowrap;
  transition: color 0.3s ease;
}
#forien-quest-log nav .item:hover,
#forien-quest-log-form nav .item:hover,
.window-app.forien-quest-preview nav .item:hover {
  text-shadow: none;
  color: #ff6400;
}
#forien-quest-log nav .item:first-child,
#forien-quest-log-form nav .item:first-child,
.window-app.forien-quest-preview nav .item:first-child {
  margin-left: 0;
}
#forien-quest-log nav .item.active, #forien-quest-log nav .item.active:hover,
#forien-quest-log-form nav .item.active,
#forien-quest-log-form nav .item.active:hover,
.window-app.forien-quest-preview nav .item.active,
.window-app.forien-quest-preview nav .item.active:hover {
  font-weight: 700;
  text-shadow: none;
  color: inherit;
}
#forien-quest-log .hidden,
#forien-quest-log-form .hidden,
.window-app.forien-quest-preview .hidden {
  display: none;
}
#forien-quest-log .editor,
#forien-quest-log-form .editor,
.window-app.forien-quest-preview .editor {
  height: 100%;
  padding: 8px;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 5px;
}
#forien-quest-log .editor .editor-content,
#forien-quest-log-form .editor .editor-content,
.window-app.forien-quest-preview .editor .editor-content {
  height: 100%;
  padding: 0;
  padding: 0 4px 0 0;
  overflow: auto;
}
#forien-quest-log .actions,
#forien-quest-log-form .actions,
.window-app.forien-quest-preview .actions {
  flex: 0 0 100px;
  border-left: 1px solid rgba(0, 0, 0, 0.15);
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#forien-quest-log .actions i,
#forien-quest-log-form .actions i,
.window-app.forien-quest-preview .actions i {
  font-size: 16px;
  margin-left: 4px;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.75);
  transition: color 0.3s ease;
}
#forien-quest-log .actions i.delete,
#forien-quest-log-form .actions i.delete,
.window-app.forien-quest-preview .actions i.delete {
  color: rgba(255, 0, 0, 0.4);
}
#forien-quest-log .actions i.fa-play,
#forien-quest-log-form .actions i.fa-play,
.window-app.forien-quest-preview .actions i.fa-play {
  font-size: 14px;
  padding-top: 2px;
}
#forien-quest-log .actions i:hover,
#forien-quest-log-form .actions i:hover,
.window-app.forien-quest-preview .actions i:hover {
  color: #ff6400;
}
#forien-quest-log .actions i:first-child,
#forien-quest-log-form .actions i:first-child,
.window-app.forien-quest-preview .actions i:first-child {
  margin: 0;
}
#forien-quest-log section,
#forien-quest-log-form section,
.window-app.forien-quest-preview section {
  flex-direction: row;
  display: block;
  justify-content: flex-start;
}

#forien-quest-log {
  min-width: 500px;
  min-height: 640px;
}
#forien-quest-log .quest-log {
  height: 100%;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  padding: 0 0 24px 0;
}
#forien-quest-log .quest-log.bookmarks nav {
  position: absolute;
  left: 0;
  transform: translateX(-97%);
  flex-direction: column;
  align-items: flex-end;
  background: none;
  padding: 0;
  flex: 0;
}
#forien-quest-log .quest-log.bookmarks nav .item {
  background: url("/ui/parchment.jpg") repeat;
  text-align: right;
  margin: 0;
  margin-bottom: 4px;
  padding: 8px 16px;
  width: 150px;
  border-radius: 5px 0 0 5px;
  position: relative;
  z-index: 1;
  box-shadow: 0 5px 5px -5px rgba(0, 0, 0, 0.3), 0 -5px 5px -5px rgba(0, 0, 0, 0.3);
  transition: padding 0.3s ease, width 0.3s ease, color 0.3s ease;
}
#forien-quest-log .quest-log.bookmarks nav .item:hover {
  padding-right: 32px;
  width: 166px;
}
#forien-quest-log .quest-log.bookmarks nav .item.active {
  padding-right: 32px;
  width: 166px;
}
#forien-quest-log .quest-log.bookmarks nav .item.active::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 5px 0 0 5px;
  z-index: -1;
}
#forien-quest-log .quest-log .log-body {
  flex: 1;
  overflow-y: hidden;
  padding: 0 16px;
}
#forien-quest-log .quest-log .tab {
  flex-direction: column;
  padding: 16px 0 0 0;
}
#forien-quest-log .quest-log .tab.active {
  display: flex;
}
#forien-quest-log .quest-log .tab .table {
  flex: 1;
  overflow-y: auto;
}
#forien-quest-log .quest-log .table ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
#forien-quest-log .quest-log .table ul li {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 0 4px 2px 0;
  background: rgba(255, 255, 255, 0.3);
  border: 1px solid transparent;
  border-radius: 5px;
  height: 42px;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}
#forien-quest-log .quest-log .table ul li:hover {
  border-color: #ff6400;
  box-shadow: 0 0 2px #ff6400 inset;
}
#forien-quest-log .quest-log .table ul .img {
  flex: 0 0 40px;
  width: 40px;
  height: 40px;
  border-radius: 5px 0 0 5px;
  background-size: cover;
}
#forien-quest-log .quest-log .table ul .title {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  padding: 0 8px;
  cursor: pointer;
}
#forien-quest-log .quest-log .table ul .title h2 {
  margin: 0;
  padding: 0;
  line-height: 1;
  border: none;
  font-size: 16px;
  font-weight: 700;
}
#forien-quest-log .quest-log .table ul .title p {
  margin: 0;
  padding: 0;
  font-size: 12px;
  font-weight: 400;
}
#forien-quest-log .quest-log .table ul .tasks {
  flex: 0 0 60px;
  border-left: 1px solid rgba(0, 0, 0, 0.15);
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#forien-quest-log .quest-log footer {
  flex: 0 0 1px;
  padding: 8px 16px 0 16px;
  display: flex;
}

#forien-quest-log-form form {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  background: rgba(0, 0, 0, 0.1);
  height: 100%;
}
#forien-quest-log-form form header {
  flex: 0 0 1px;
}
#forien-quest-log-form form header .source-details {
  display: flex;
}
#forien-quest-log-form form header .source-image {
  flex: 0 0 100px;
  width: 100px;
  height: 100px;
  position: relative;
  background-color: rgba(0, 0, 0, 0.1);
  font-size: 12px;
  line-height: 1.2;
  font-weight: 700;
  text-align: center;
  margin-right: 8px;
}
#forien-quest-log-form form header .source-image .giver-portrait {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  border-radius: 5px;
}
#forien-quest-log-form form header .source-image .toggleImage {
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #efefef;
  border-radius: 5px;
  width: 22px;
  height: 22px;
  transition: color 0.3s ease;
}
#forien-quest-log-form form header .source-image .toggleImage:hover {
  color: #ff6400;
}
#forien-quest-log-form form header .source-image .toggleImage i {
  font-size: 16px;
  border-radius: 50%;
  line-height: 1;
}
#forien-quest-log-form form header .source-image .deleteQuestGiver {
  position: absolute;
  left: 78px;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #efefef;
  border-radius: 5px;
  width: 22px;
  height: 22px;
  transition: color 0.3s ease;
}
#forien-quest-log-form form header .source-image .deleteQuestGiver:hover {
  color: #ff6400;
}
#forien-quest-log-form form header .source-image .deleteQuestGiver i {
  font-size: 16px;
  border-radius: 50%;
  line-height: 1;
}
#forien-quest-log-form form header .source-image .drop-info {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  border: 2px dashed rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  padding: 8px;
}
#forien-quest-log-form form header .source-image .hidden {
  display: none;
}
#forien-quest-log-form form header .source-info {
  flex: 1;
  height: 100px;
}
#forien-quest-log-form form header .quest-giver {
  margin-bottom: 8px;
}
#forien-quest-log-form .quest-name {
  margin-top: 8px;
}
#forien-quest-log-form .quest-text {
  margin-top: 8px;
  display: flex;
  flex: 1;
  overflow-y: hidden;
}
#forien-quest-log-form .quest-text .quest-description,
#forien-quest-log-form .quest-text .quest-notes {
  flex: 1;
}
#forien-quest-log-form .quest-text .quest-notes {
  margin-left: 8px;
}
#forien-quest-log-form .quest-text .editor {
  padding: 8px;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 5px;
  height: calc(100% - 30px);
}
#forien-quest-log-form .quest-text .editor .tox .tox-toolbar-overlord {
  background-color: transparent;
  border-bottom: 1px solid #222;
  padding-bottom: 4px;
}
#forien-quest-log-form .quest-text .editor .tox .tox-toolbar,
#forien-quest-log-form .quest-text .editor .tox .tox-toolbar__overflow,
#forien-quest-log-form .quest-text .editor .tox .tox-toolbar__primary {
  background: transparent;
  background-color: transparent;
}
#forien-quest-log-form .quest-text .editor .tox.tox-tinymce .tox-tbtn {
  padding: 0;
  margin: 0 0 0 4px;
  width: 32px;
}
#forien-quest-log-form .quest-text .editor .tox.tox-tinymce .tox-tbtn[title=Formats] {
  width: 90px;
}
#forien-quest-log-form .quest-text .editor .editor-content {
  height: 100%;
  overflow-y: auto;
  margin: 0;
  padding: 0 12px 0 0;
}
#forien-quest-log-form footer {
  flex: 0 0 1px;
  margin-top: 8px;
}

.window-app.forien-quest-preview {
  min-width: 940px;
  min-height: 640px;
}
.window-app.forien-quest-preview .tab.active {
  display: flex;
  flex-direction: column;
}
.window-app.forien-quest-preview .quest-preview {
  height: 100%;
  overflow-y: hidden;
  display: flex;
  flex-direction: column;
  background: rgba(0, 0, 0, 0.1);
  padding: 0 0 24px 0;
}
.window-app.forien-quest-preview .quest-body {
  height: 100%;
  flex: 1;
  overflow-y: auto;
  padding: 16px 16px 0 16px;
}
.window-app.forien-quest-preview .quest-body .details-header {
  display: flex;
  flex: 0 0 1px;
  margin-bottom: 16px;
}
.window-app.forien-quest-preview .quest-body .details-header .quest-giver-gc {
  width: 100px;
  height: 100px;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  flex: 0 0 100px;
  margin-right: 8px;
  position: relative;
  font-size: 12px;
  line-height: 1.2;
  font-weight: 700;
  text-align: center;
}
.window-app.forien-quest-preview .quest-body .details-header .quest-giver-gc .drop-info {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  border: 2px dashed rgba(0, 0, 0, 0.5);
  border-radius: 5px;
}
.window-app.forien-quest-preview .quest-body .details-header .quest-giver-gc .quest-giver-image {
  height: 100%;
  width: 100%;
  background-size: cover;
  cursor: pointer;
  border-radius: 5px;
}
.window-app.forien-quest-preview .quest-body .details-header .quest-giver-gc .toggleImage {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #efefef;
  border-radius: 5px;
  width: 22px;
  height: 22px;
  transition: color 0.3s ease;
}
.window-app.forien-quest-preview .quest-body .details-header .quest-giver-gc .toggleImage:hover {
  color: #ff6400;
}
.window-app.forien-quest-preview .quest-body .details-header .quest-giver-gc .toggleImage i {
  font-size: 16px;
  border-radius: 50%;
  line-height: 1;
}
.window-app.forien-quest-preview .quest-body .details-header .quest-giver-gc .deleteQuestGiver {
  position: absolute;
  top: 0;
  left: 78px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #efefef;
  border-radius: 5px;
  width: 22px;
  height: 22px;
  transition: color 0.3s ease;
}
.window-app.forien-quest-preview .quest-body .details-header .quest-giver-gc .deleteQuestGiver:hover {
  color: #ff6400;
}
.window-app.forien-quest-preview .quest-body .details-header .quest-giver-gc .deleteQuestGiver i {
  font-size: 16px;
  border-radius: 50%;
  line-height: 1;
}
.window-app.forien-quest-preview .quest-body .details-header .quest-setup {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.window-app.forien-quest-preview .quest-body .details-header .quest-setup .quest-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.window-app.forien-quest-preview .quest-body .details-header .quest-setup .editable-container {
  flex: 1;
}
.window-app.forien-quest-preview .quest-body .details-header .quest-setup .editable-container input {
  margin-bottom: 8px;
  height: 28px;
}
.window-app.forien-quest-preview .quest-body .details-header .quest-setup .splash-image-link {
  flex: 0 0 100px;
  background-size: cover;
  position: relative;
  cursor: pointer;
}
.window-app.forien-quest-preview .quest-body .details-header .quest-setup .splash-image-link span {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.3);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 28px;
  color: rgba(255, 255, 255, 0.65);
  opacity: 1;
  transition: opacity 0.3s ease;
}
.window-app.forien-quest-preview .quest-body .details-header .quest-setup .splash-image-link span:hover {
  opacity: 0;
}
.window-app.forien-quest-preview .quest-body .details-header .quest-setup .actions {
  flex: 0 0 1px;
  padding: 0 8px;
}
.window-app.forien-quest-preview .quest-body .details-header .quest-setup .actions i {
  font-size: 18px;
  transition: color 0.3s ease;
  cursor: pointer;
}
.window-app.forien-quest-preview .quest-body .details-header .quest-setup .actions i:hover {
  color: #ff6400;
}
.window-app.forien-quest-preview .quest-body .details-header .quest-setup .quest-title .actions {
  border: none;
}
.window-app.forien-quest-preview .quest-body .details-header .quest-setup section {
  flex: 1;
  display: flex;
  background: rgba(255, 255, 255, 0.15);
  border-radius: 5px;
  overflow: hidden;
}
.window-app.forien-quest-preview .quest-body .details-header .quest-setup .quest-details {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 8px 16px;
}
.window-app.forien-quest-preview .quest-body .details-header .quest-setup .quest-giver-name h2 {
  display: inline-block;
  margin: 0;
  border: none;
  cursor: pointer;
  transition: color 0.3s ease;
}
.window-app.forien-quest-preview .quest-body .details-header .quest-setup .quest-giver-name h2:hover {
  color: #ff6400;
}
.window-app.forien-quest-preview .quest-body .details-header .quest-setup .quest-status {
  display: flex;
}
.window-app.forien-quest-preview .quest-body .details-header .quest-setup .quest-status p {
  margin: 0 8px 0 0;
}
.window-app.forien-quest-preview .quest-body .details-header .quest-setup .quest-status p::after {
  content: "|";
  margin-left: 8px;
}
.window-app.forien-quest-preview .quest-body .details-header .quest-setup .quest-status p:last-child {
  margin: 0;
}
.window-app.forien-quest-preview .quest-body .details-header .quest-setup .quest-status p:last-child::after {
  content: none;
}
.window-app.forien-quest-preview .quest-body .details-header .quest-setup .quest-status .quest-name {
  transition: color 0.3s ease;
  cursor: pointer;
}
.window-app.forien-quest-preview .quest-body .details-header .quest-setup .quest-status .quest-name i {
  font-size: 12px;
}
.window-app.forien-quest-preview .quest-body .details-header .quest-setup .quest-status .quest-name:hover {
  color: #ff6400;
}
.window-app.forien-quest-preview .quest-body .quest-info {
  display: flex;
  flex: 1;
  overflow-y: hidden;
}
.window-app.forien-quest-preview .quest-body .quest-info header {
  display: flex;
  justify-content: space-between;
}
.window-app.forien-quest-preview .quest-body .quest-info .quest-col-right button {
  flex: 0 0 1px;
  white-space: nowrap;
  height: 20px;
  font-size: 15px;
  line-height: 1;
}
.window-app.forien-quest-preview .quest-body .quest-info .quest-col-right button i {
  font-size: 10px;
}
.window-app.forien-quest-preview .quest-body .quest-info .quest-description {
  flex: 0 0 50%;
  height: 100%;
  overflow-y: hidden;
  margin-right: 8px;
}
.window-app.forien-quest-preview .quest-body .quest-info .quest-description .description {
  height: calc(100% - 26px);
  overflow: hidden;
  background: rgba(255, 255, 255, 0.4);
  border-radius: 5px;
  padding: 8px;
}
.window-app.forien-quest-preview .quest-body .quest-info .quest-description .description .description-content {
  height: 100%;
  overflow: auto;
  padding: 0 4px 0 0;
}
.window-app.forien-quest-preview .quest-body .quest-info .quest-col-right {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.window-app.forien-quest-preview .quest-body .quest-info .quest-col-right h2 {
  border: none;
  margin: 0;
}
.window-app.forien-quest-preview .quest-body .quest-info .quest-col-right header {
  border-bottom: 2px solid #782e22;
  margin-bottom: 4px;
  flex: 0 0 1px;
}
.window-app.forien-quest-preview .quest-body .quest-info .quest-col-right .quest-tasks,
.window-app.forien-quest-preview .quest-body .quest-info .quest-col-right .quest-rewards {
  flex: 0 0 calc(50% - 8px);
  display: flex;
  flex-direction: column;
  overflow-y: hidden;
}
.window-app.forien-quest-preview .quest-body .quest-info .quest-col-right .quest-tasks .quest-box,
.window-app.forien-quest-preview .quest-body .quest-info .quest-col-right .quest-rewards .quest-box {
  flex: 1;
  overflow-y: hidden;
}
.window-app.forien-quest-preview .quest-body .quest-info .quest-col-right .quest-tasks ul,
.window-app.forien-quest-preview .quest-body .quest-info .quest-col-right .quest-rewards ul {
  height: 100%;
  overflow-y: auto;
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
}
.window-app.forien-quest-preview .quest-body .quest-info .quest-col-right .quest-tasks ul li,
.window-app.forien-quest-preview .quest-body .quest-info .quest-col-right .quest-rewards ul li {
  display: flex;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.3);
  margin: 0 4px 2px 0;
  align-items: center;
}
.window-app.forien-quest-preview .quest-body .quest-info .quest-col-right .quest-tasks .actions,
.window-app.forien-quest-preview .quest-body .quest-info .quest-col-right .quest-rewards .actions {
  flex: 0 0 100px;
  height: 100%;
  cursor: default;
}
.window-app.forien-quest-preview .quest-body .quest-info .quest-col-right .quest-tasks .actions i,
.window-app.forien-quest-preview .quest-body .quest-info .quest-col-right .quest-rewards .actions i {
  min-width: 16px;
  text-align: center;
}
.window-app.forien-quest-preview .quest-body .quest-info .quest-col-right .quest-tasks .actions .fa-sort,
.window-app.forien-quest-preview .quest-body .quest-info .quest-col-right .quest-rewards .actions .fa-sort {
  cursor: move;
}
.window-app.forien-quest-preview .quest-body .quest-info .quest-col-right .quest-tasks .actions .del-btn,
.window-app.forien-quest-preview .quest-body .quest-info .quest-col-right .quest-rewards .actions .del-btn {
  color: rgba(255, 0, 0, 0.4);
}
.window-app.forien-quest-preview .quest-body .quest-info .quest-col-right .quest-tasks .actions .del-btn:hover,
.window-app.forien-quest-preview .quest-body .quest-info .quest-col-right .quest-rewards .actions .del-btn:hover {
  color: #ff6400;
}
.window-app.forien-quest-preview .quest-body .quest-info .quest-col-right .quest-tasks .actions .fa-pen,
.window-app.forien-quest-preview .quest-body .quest-info .quest-col-right .quest-rewards .actions .fa-pen {
  font-size: 14px;
}
.window-app.forien-quest-preview .quest-body .quest-info .quest-col-right .quest-tasks .is-player,
.window-app.forien-quest-preview .quest-body .quest-info .quest-col-right .quest-rewards .is-player {
  flex: 0 0 40px;
}
.window-app.forien-quest-preview .quest-body .quest-info .quest-col-right .quest-tasks .is-player i,
.window-app.forien-quest-preview .quest-body .quest-info .quest-col-right .quest-rewards .is-player i {
  cursor: default;
}
.window-app.forien-quest-preview .quest-body .quest-info .quest-col-right .quest-tasks .is-player i:hover,
.window-app.forien-quest-preview .quest-body .quest-info .quest-col-right .quest-rewards .is-player i:hover {
  color: black;
}
.window-app.forien-quest-preview .quest-body .quest-info .quest-col-right .quest-tasks .editable-container,
.window-app.forien-quest-preview .quest-body .quest-info .quest-col-right .quest-rewards .editable-container {
  flex: 1;
  padding: 4px 8px;
}
.window-app.forien-quest-preview .quest-body .quest-info .quest-col-right .quest-tasks .editable-container p,
.window-app.forien-quest-preview .quest-body .quest-info .quest-col-right .quest-rewards .editable-container p {
  margin: 0;
}
.window-app.forien-quest-preview .quest-body .quest-info .quest-col-right .quest-tasks .editable-container input,
.window-app.forien-quest-preview .quest-body .quest-info .quest-col-right .quest-rewards .editable-container input {
  padding: 0 4px;
  line-height: 14px;
  height: 16px;
}
.window-app.forien-quest-preview .quest-body .quest-info .quest-col-right .quest-tasks {
  margin-bottom: 16px;
}
.window-app.forien-quest-preview .quest-body .quest-info .quest-col-right .quest-tasks .toggleState {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 0 0 32px;
  height: 100%;
  border-right: 1px solid rgba(0, 0, 0, 0.15);
  font-size: 18px;
  cursor: pointer;
  transition: color 0.3s ease;
}
.window-app.forien-quest-preview .quest-body .quest-info .quest-col-right .quest-tasks .toggleState:hover {
  color: #ff6400;
}
.window-app.forien-quest-preview .quest-body .quest-info .quest-col-right .quest-tasks .state-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 0 0 32px;
  height: 100%;
  border-right: 1px solid rgba(0, 0, 0, 0.15);
  font-size: 18px;
}
.window-app.forien-quest-preview .quest-body .quest-info .quest-col-right .quest-tasks .state-container .state-display {
  background: rgba(0, 0, 0, 0.05);
  border: 1px solid rgba(0, 0, 0, 0.3);
  width: 16px;
  height: 16px;
  border-radius: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.window-app.forien-quest-preview .quest-body .quest-info .quest-col-right .quest-tasks .state-container .state-display i {
  font-size: 11px;
  line-height: 16px;
}
.window-app.forien-quest-preview .quest-body .quest-info .quest-col-right .quest-tasks .quest-name {
  cursor: pointer;
  transition: color 0.3s ease;
  margin: 0;
  padding: 4px 8px;
  display: inline-block;
}
.window-app.forien-quest-preview .quest-body .quest-info .quest-col-right .quest-tasks .quest-name:hover {
  color: #ff6400;
}
.window-app.forien-quest-preview .quest-body .quest-info .quest-col-right .quest-tasks .quest-name i {
  font-size: 12px;
}
.window-app.forien-quest-preview .quest-body .quest-info .quest-col-right .quest-tasks .task-hidden {
  background: rgba(0, 0, 0, 0.15);
}
.window-app.forien-quest-preview .quest-body .quest-info .quest-col-right .quest-tasks .task-hidden .task-name {
  opacity: 0.5;
}
.window-app.forien-quest-preview .quest-body .quest-info .quest-col-right .quest-rewards .reward {
  flex: 0 0 25px;
}
.window-app.forien-quest-preview .quest-body .quest-info .quest-col-right .quest-rewards .drop-info {
  flex: 1 0 25px;
  line-height: 20px;
  border: 2px dashed rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  padding: 0 16px;
  text-align: center;
  margin-right: 4px;
  margin-bottom: 4px;
  background: transparent;
  justify-content: center;
}
.window-app.forien-quest-preview .quest-body .quest-info .quest-col-right .quest-rewards .reward-hidden {
  background: rgba(0, 0, 0, 0.15);
}
.window-app.forien-quest-preview .quest-body .quest-info .quest-col-right .quest-rewards .reward-hidden .reward-image {
  opacity: 0.5;
}
.window-app.forien-quest-preview .quest-body .quest-info .quest-col-right .quest-rewards .reward-hidden .reward-name {
  opacity: 0.5;
}
.window-app.forien-quest-preview .quest-body .quest-info .quest-col-right .quest-rewards .reward-image-container {
  height: 100%;
  flex: 0 0 25px;
  display: flex;
  align-items: center;
  border-radius: 5px 0 0 5px;
  overflow: hidden;
  background-color: #222;
}
.window-app.forien-quest-preview .quest-body .quest-info .quest-col-right .quest-rewards .reward-image {
  width: 25px;
  height: 25px;
  background-size: cover;
  background-position: center;
}
.window-app.forien-quest-preview .quest-body .quest-info .quest-col-right .quest-rewards .reward-name {
  flex: 1;
  font-size: 14px;
  font-weight: 400;
  margin: 0;
  padding-right: 8px;
}
.window-app.forien-quest-preview .quest-body .management .row {
  display: flex;
  flex: 0 0 1px;
}
.window-app.forien-quest-preview .quest-body .management .quest-settings {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-right: 8px;
  height: 226px;
}
.window-app.forien-quest-preview .quest-body .management .quest-settings .setting-groups {
  flex: 0 0 1px;
}
.window-app.forien-quest-preview .quest-body .management .quest-settings .input-group {
  display: flex;
  align-items: center;
  background: rgba(255, 255, 255, 0.4);
  border-radius: 5px;
  padding: 2px;
  margin-bottom: 2px;
}
.window-app.forien-quest-preview .quest-body .management .quest-settings input[type=checkbox] {
  flex: 0 0 20px;
  width: 20px;
  height: 20px;
  margin: 0;
}
.window-app.forien-quest-preview .quest-body .management .quest-settings label {
  margin: 0 0 0 4px;
  width: calc(100% - 20px);
  overflow: hidden;
  text-overflow: ellipsis;
}
.window-app.forien-quest-preview .quest-body .management .quest-splash {
  flex: 0 0 calc(100% / 3);
  position: relative;
}
.window-app.forien-quest-preview .quest-body .management .quest-splash .splash-image {
  width: 100%;
  height: 200px;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  cursor: pointer;
}
.window-app.forien-quest-preview .quest-body .management .quest-splash .splash-image:hover {
  background-color: rgba(0, 0, 0, 0.075);
}
.window-app.forien-quest-preview .quest-body .management .quest-splash .drop-info {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  border: 2px dashed rgba(0, 0, 0, 0.5);
  border-radius: 5px;
}
.window-app.forien-quest-preview .quest-body .management .quest-splash .splash-border {
  border: 2px dashed rgba(0, 0, 0, 0.5);
}
.window-app.forien-quest-preview .quest-body .management .quest-splash .delete-splash {
  position: absolute;
  top: 26px;
  left: 281px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #efefef;
  border-radius: 5px;
  width: 22px;
  height: 22px;
  transition: color 0.3s ease;
}
.window-app.forien-quest-preview .quest-body .management .quest-splash .delete-splash:hover {
  color: #ff6400;
}
.window-app.forien-quest-preview .quest-body .management .quest-splash .delete-splash i {
  font-size: 16px;
  border-radius: 50%;
  line-height: 1;
}
.window-app.forien-quest-preview .quest-body .management .quest-splash .change-splash-pos {
  position: absolute;
  top: 204px;
  left: 281px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #efefef;
  border-radius: 5px;
  width: 22px;
  height: 22px;
  transition: color 0.3s ease;
}
.window-app.forien-quest-preview .quest-body .management .quest-splash .change-splash-pos:hover {
  color: #ff6400;
}
.window-app.forien-quest-preview .quest-body .management .quest-splash .change-splash-pos i {
  font-size: 16px;
  border-radius: 50%;
  line-height: 1;
}
.window-app.forien-quest-preview .quest-body .management .subquests {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-top: 16px;
  overflow: hidden;
}
.window-app.forien-quest-preview .quest-body .management .subquests h2 {
  flex: 0 0 1px;
}
.window-app.forien-quest-preview .quest-body .management .subquests .subquests-box {
  flex: 1;
  overflow-y: auto;
  margin: 0;
  padding: 0;
  list-style: none;
}
.window-app.forien-quest-preview .quest-body .management .subquests .subquests-box li {
  display: flex;
  align-items: center;
  background: rgba(255, 255, 255, 0.3);
  height: 30px;
  border-radius: 5px;
  margin: 0 4px 2px 0;
  border: 1px solid transparent;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}
.window-app.forien-quest-preview .quest-body .management .subquests .subquests-box li:hover {
  border-color: #ff6400;
  box-shadow: 0 0 2px #ff6400 inset;
}
.window-app.forien-quest-preview .quest-body .management .subquests .subquests-box h2 {
  flex: 1;
  border: none;
  margin: 0 8px;
  font-size: 14px;
  line-height: 30px;
  cursor: pointer;
  transition: color 0.3s ease;
}
.window-app.forien-quest-preview .quest-body .management .subquests .subquests-box .actions {
  flex: 0 0 100px;
  height: 100%;
}
.window-app.forien-quest-preview .quest-body .management .subquests footer {
  flex: 0 0 1px;
  margin: 8px 8px 0 8px;
}
.window-app.forien-quest-preview .quest-body .editor {
  height: calc(100% - 26px);
}
.window-app.forien-quest-preview .quest-body .gmnotes .editor {
  height: calc(100% - 36px);
}
.window-app.forien-quest-preview .quest-body .tox .tox-toolbar-overlord {
  background-color: transparent;
  border-bottom: 1px solid #222;
  padding-bottom: 4px;
}
.window-app.forien-quest-preview .quest-body .tox .tox-toolbar,
.window-app.forien-quest-preview .quest-body .tox .tox-toolbar__overflow,
.window-app.forien-quest-preview .quest-body .tox .tox-toolbar__primary {
  background: transparent;
  background-color: transparent;
}
.window-app.forien-quest-preview .quest-body .tox.tox-tinymce .tox-tbtn {
  padding: 0;
  margin: 0 0 0 4px;
  width: 32px;
}
.window-app.forien-quest-preview .quest-body .tox.tox-tinymce .tox-tbtn[title=Formats] {
  width: 90px;
}

#forien-quest-log-floating-window .journal i {
  flex: 0 24px;
  line-height: 34px;
  text-align: center;
}
#forien-quest-log-floating-window li.folder.collapsed > .folder-header h3 > i:before {
  content: "";
}
#forien-quest-log-floating-window .no-content {
  text-align: center;
  margin-top: 50%;
  display: block;
}
#forien-quest-log-floating-window .task-hidden {
  color: rgba(255,255,255,0.53333);
}

#quest-tracker {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 300px;
  right: 320px;
  padding: 5px;
  color: #ddd;
  text-shadow: 1px 1px 1px #000;
}
#quest-tracker.background {
  background: rgba(51,51,51,0.6);
  border: 2px solid rgba(17,17,17,0.46667);
  border-radius: 5px;
}
#quest-tracker * {
  box-sizing: border-box;
  font-family: "Open Sans", Lato, Signika, sans-serif;
}
#quest-tracker .far, #quest-tracker .fas, #quest-tracker .fa {
  font-family: "Font Awesome 5 Free";
}
#quest-tracker .move-handle {
  position: absolute;
  top: -18px;
  left: 4px;
  color: rgba(255,255,255,0.53333);
  text-shadow: none;
}
#quest-tracker .entity-link {
  background: rgba(204,204,204,0.4);
}
#quest-tracker .title {
  margin-bottom: 0;
  cursor: pointer;
  font-family: Oswald, Montserrat, Signika, sans-serif;
  font-size: 20px;
}
#quest-tracker .tasks {
  list-style: none;
  margin-bottom: 6px;
}
#quest-tracker .tasks #hidden {
  color: rgba(255,255,255,0.53333);
}
#quest-tracker .tasks .task {
  position: relative;
}
#quest-tracker .tasks .task::before {
  content: "";
  position: absolute;
  margin-right: 4px;
  font-weight: 400;
  font-family: "Font Awesome 5 Free";
  left: -15px;
}
#quest-tracker .tasks .task.minus-square {
  text-decoration: line-through;
}
#quest-tracker .tasks .task.minus-square::before {
  content: "";
  font-weight: 900;
  padding-left: 1px;
}
#quest-tracker .tasks .task.check-square {
  text-decoration: line-through;
}
#quest-tracker .tasks .task.check-square::before {
  content: "";
  font-weight: 900;
}

/*# sourceMappingURL=init.css.map */