$background-parchment: url("/ui/parchment.jpg") repeat;

$background-color-light: rgba(255,255,255,.5);
$primary-accent-color: #ff6400;

@import 'quest-general', 'quest-log', 'quest-form', 'quest-preview', 'quest-floating-window', 'quest-tracker';
