#forien-quest-log-floating-window {
    .journal {
        i {
            flex: 0 24px;
            line-height: 34px;
            text-align: center;
        }
    }

    i {
        &.is-personal {
            flex: 0 20px;
            line-height: 24px;
        }
    }

    i {
        &.is-hidden {
            flex: 0 20px;
            line-height: 24px;
        }
    }

    li.folder.collapsed > .folder-header h3 > i:before {
        content: "\f02e";
    }

    .no-content {
        text-align: center;
        margin-top: 50%;
        display: block;
    }

    .task-hidden {
        color: #ffffff88;
    }
}