#forien-quest-log-form {
    
    form {
      padding: 1rem;
      display: flex;
      flex-direction: column;
      background: rgba(0,0,0,.1);
      height: 100%;
      // overflow-y: hidden;     
    }
    
    form header {
      flex: 0 0 1px;

      .source-details {
        display: flex;
      }

      .source-image {
        flex: 0 0 100px;
        height: 100px;
        background-color: rgba(0, 0, 0, .1);
        font-size: 12px;
        line-height: 1.2;
        font-weight: 700;
        text-align: center;
        margin-right: 8px;

        .giver-portrait {
          width: 100%;
          height: 100%;
          background-size: cover;
          background-position: center;
          border-radius: 5px;
        }

        .hidden {
          display: none;
        }

        span {
          display: flex;
          justify-content: center;
          align-items: center;
          height: 100%;
          border: 2px dashed rgba(0,0,0,.5);
          border-radius: 5px;
          padding: 8px; 
        }
      }

      .source-info {
        flex: 1;
        height: 100px;
      }

      .quest-giver {
        margin-bottom: 8px;
      }


    }

    .quest-name {
      margin-top: 8px;
    }

    .quest-text {
      margin-top: 8px;
      display: flex;
      flex: 1;
      overflow-y: hidden; 

      .quest-description,
      .quest-notes {
        flex: 1;
      }

      .quest-notes {
        margin-left: 8px;
      }

      .editor {
        padding: 8px;
        background: $background-color-light;
        border-radius: 5px;
        height: calc(100% - 30px);

        .tox .tox-toolbar-overlord {
          background-color: transparent;
          border-bottom: 1px solid #222;
          padding-bottom: 4px;
        }

        .tox .tox-toolbar,
        .tox .tox-toolbar__overflow,
        .tox .tox-toolbar__primary {
          background: transparent;
          background-color: transparent;
        }

        .tox.tox-tinymce .tox-tbtn {
          padding: 0;
          margin: 0 0 0 4px;
          width: 32px;
        }

        .tox.tox-tinymce .tox-tbtn[title="Formats"] {
          width: 90px;
        }

        .editor-content {
          height: 100%;
          overflow-y: auto;
          margin: 0;
          padding: 0 12px 0 0;
        }
      }

    }

    footer {
      flex: 0 0 1px;
      margin-top: 8px;
    }
}
