.window-app.forien-quest-preview {
  min-width: 940px;
  min-height: 640px;

  .tab.active {
    display: flex;
    flex-direction: column;
  }

  .quest-preview {
    height: 100%;
    overflow-y: hidden;
    display: flex;
    flex-direction: column;
    background: rgba(0, 0, 0, .1);
    //padding: 0 16px 16px 16px;
    padding: 0;
  }

  .quest-body {
    height: 100%;
    flex: 1;
    overflow-y: auto;
    padding: 16px;
    //padding-top: 16px;

    .details-header {
      display: flex;
      flex: 0 0 1px;
      margin-bottom: 16px;

      .quest-giver-gc {
        width: 100px;
        height: 100px;
        background-color: rgba(0, 0, 0, .1);
        border-radius: 5px;
        flex: 0 0 100px;
        margin-right: 8px;
        position: relative;

        font-size: 12px;
        line-height: 1.2;
        font-weight: 700;
        text-align: center;

        .drop-info {
          display: flex;
          justify-content: center;
          align-items: center;
          height: 100%;
          border: 2px dashed rgba(0,0,0,.5);
          border-radius: 5px;
        }

        .quest-giver-image {
          height: 100%;
          width: 100%;
          background-size: cover;
          cursor: pointer;
          border-radius: 5px;
        }

        .toggleImage {
          position: absolute;
          top: 0;
          left: 0;
          @include button;
        }

        .deleteQuestGiver {
          position: absolute;
          top: 0;
          left: 100-22px;
          @include button;
        }
      }

      .quest-setup {
        flex: 1;
        display: flex;
        flex-direction: column;

        .quest-title {
          display: flex;
          justify-content: space-between;
          align-items: center;
        }

        .editable-container {
          flex: 1;

          input {
            margin-bottom: 8px;
            height: 28px;
          }
        }

        .splash-image-link {
          flex: 0 0 100px;
          background-size: cover;
          position: relative;
          cursor: pointer;

          span {
            position: absolute;
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            background: rgba(0, 0, 0, .3);
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-size: 28px;
            color: rgba(255, 255, 255, .65);
            opacity: 1;
            transition: opacity .3s ease;

            &:hover {
              opacity: 0;
            }
          }
        }

        .actions {
          flex: 0 0 1px;
          padding: 0 8px;

          i {
            font-size: 18px;
            transition: color .3s ease;
            cursor: pointer;

            &:hover {
              color: $primary-accent-color;
            }
          }
        }

        .quest-title .actions {
          border: none;
        }

        section {
          flex: 1;
          display: flex;
          background: rgba(255, 255, 255, .15);
          border-radius: 5px;
          overflow: hidden;
        }

        .quest-details {
          flex: 1;
          display: flex;
          flex-direction: column;
          justify-content: center;
          padding: 8px 16px;
        }

        .quest-giver-name h2 {
          display: inline-block;
          margin: 0;
          border: none;
          cursor: pointer;
          transition: color .3s ease;

          &:hover {
            color: $primary-accent-color;
          }
        }

        .quest-status {
          display: flex;

          p {
            margin: 0 8px 0 0;
          }

          p::after {
            content: '|';
            margin-left: 8px;
          }

          p:last-child {
            margin: 0;
          }

          p:last-child::after {
            content: none;
          }

          .quest-name {
            transition: color .3s ease;
            cursor: pointer;

            i {
              font-size: 12px;
            }

            &:hover {
              color: $primary-accent-color;
            }
          }
        }
      }
    }

    .quest-info {
      display: flex;
      flex: 1;
      overflow-y: hidden;

      header {
        display: flex;
        justify-content: space-between;
      }

      .quest-col-right button {
        flex: 0 0 1px;
        white-space: nowrap;
        height: 20px;
        font-size: 15px;
        line-height: 1;

        i {
          font-size: 10px;
        }
      }

      .quest-description {
        flex: 0 0 50%;
        height: 100%;
        overflow-y: hidden;
        margin-right: 8px;

        .description {
          height: calc(100% - 26px);
          overflow: hidden;
          background: rgba(255, 255, 255, .4);
          border-radius: 5px;
          padding: 8px;

          .description-content {
            height: 100%;
            overflow: auto;
            padding: 0 4px 0 0;
          }
        }
      }

      .quest-col-right {
        flex: 1;
        display: flex;
        flex-direction: column;

        h2 {
          border: none;
          margin: 0;
        }

        header {
          border-bottom: 2px solid #782e22;
          margin-bottom: 4px;
          flex: 0 0 1px;
        }

        .quest-tasks,
        .quest-rewards {
          flex: 0 0 calc(50% - 8px);
          display: flex;
          flex-direction: column;
          overflow-y: hidden;

          .quest-box {
            flex: 1;
            overflow-y: hidden;
          }

          ul {
            height: 100%;
            overflow-y: auto;
            margin: 0;
            padding: 0;
            list-style: none;
            display: flex;
            flex-direction: column;

            li {
              display: flex;
              border-radius: 5px;
              background: rgba(255, 255, 255, .3);
              margin: 0 4px 2px 0;
              align-items: center;
            }
          }

          .actions {
            flex: 0 0 100px;
            height: 100%;
            cursor: default;

            i {
              min-width: 16px;
              text-align: center;
            }

            .fa-sort {
              cursor: move;
            }

            .del-btn {
              color: rgba(255, 0, 0, .4);

              &:hover {
                color: $primary-accent-color;
              }
            }

            .fa-pen {
              font-size: 14px;
            }
          }

          .is-link {
            cursor: pointer;
          }

          .is-player {
            flex: 0 0 40px;

            i {
              cursor: default;

              &:hover {
                color: black;
              }
            }
          }

          .editable-container {
            flex: 1;
            padding: 4px 8px;

            p {
              margin: 0;
            }

            input {
              padding: 0 4px;
              line-height: 14px;
              height: 16px;
            }
          }
        }

        .quest-tasks {
          margin-bottom: 16px;

          .toggleState {
            display: flex;
            align-items: center;
            justify-content: center;
            flex: 0 0 32px;
            height: 100%;
            border-right: 1px solid rgba(0, 0, 0, .15);
            font-size: 18px;
            cursor: pointer;
            transition: color .3s ease;

            &:hover {
              color: $primary-accent-color;
            }
          }

          .state-container {
            display: flex;
            align-items: center;
            justify-content: center;
            flex: 0 0 32px;
            height: 100%;
            border-right: 1px solid rgba(0, 0, 0, .15);
            font-size: 18px;

            .state-display {
              background: rgba(0, 0, 0, .05);
              border: 1px solid rgba(0, 0, 0, .3);
              width: 16px;
              height: 16px;
              border-radius: 2px;
              display: flex;
              justify-content: center;
              align-items: center;

              i {
                font-size: 11px;
                line-height: 16px;
              }
            }
          }

          .quest-name {
            cursor: pointer;
            transition: color .3s ease;
            margin: 0;
            padding: 4px 8px;
            display: inline-block;

            &:hover {
              color: $primary-accent-color;
            }

            i {
              font-size: 12px;
            }
          }

          .task-hidden {
            background: rgba(0, 0, 0, .15);

            .task-name {
              opacity: .5;
            }
          }
        }

        .quest-rewards {

          .reward {
            flex: 0 0 25px;
          }

          .drop-info {
            flex: 1 0 25px;
            line-height: 20px;
            border: 2px dashed rgba(0, 0, 0, .5);
            border-radius: 5px;
            padding: 0 16px;
            text-align: center;
            margin-right: 4px;
            margin-bottom: 4px;
            background: transparent;
            justify-content: center;
          }

          .reward-hidden {
            background: rgba(0, 0, 0, .15);

            .reward-image {
              opacity: .5;
            }

            .reward-name {
              opacity: .5;
            }
          }

          .reward-image-container {
            height: 100%;
            flex: 0 0 25px;
            display: flex;
            align-items: center;
            border-radius: 5px 0 0 5px;
            overflow: hidden;
            background-color: #222;
          }

          .reward-image {
            width: 25px;
            height: 25px;
            background-size: cover;
            background-position: center;
          }

          .reward-name {
            flex: 1;
            font-size: 14px;
            font-weight: 400;
            margin: 0;
            padding-right: 8px;
          }
        }
      }

    }

    .management {

      .row {
        display: flex;
        flex: 0 0 1px;
      }

      .quest-settings {
        display: flex;
        flex-direction: column;
        flex: 1;
        margin-right: 8px;
        height: 226px;

        .setting-groups {
          flex: 0 0 1px;
        }

        .input-group {
          display: flex;
          align-items: center;
          background: rgba(255, 255, 255, .4);
          border-radius: 5px;
          padding: 2px;
          margin-bottom: 2px;
        }

        input[type="checkbox"] {
          flex: 0 0 20px;
          width: 20px;
          height: 20px;
          margin: 0;
        }

        label {
          margin: 0 0 0 4px;
          width: calc(100% - 20px);
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }

      .quest-splash {
        flex: 0 0 calc(100% / 3);
        position: relative;

        .splash-image {
          width: 100%;
          height: 200px;
          background-size: cover;
          background-color: rgba(0, 0, 0, .1);
          border-radius: 5px;
          cursor: pointer;

          &:hover {
            background-color: rgba(0, 0, 0, .075);
          }
        }

        .drop-info {
          display: flex;
          justify-content: center;
          align-items: center;
          height: 100%;
          border: 2px dashed rgba(0,0,0,.5);
          border-radius: 5px;
        }

        .splash-border {
          border: 2px dashed rgba(0,0,0,.5);
        }

        .delete-splash {
          position: absolute;
          top: 26px;
          left: 281px;
          @include button;
        }

        .change-splash-pos {
          position: absolute;
          top: 204px;
          left: 281px;
          @include button;
        }
      }

      .subquests {
        flex: 1;
        display: flex;
        flex-direction: column;
        margin-top: 16px;
        overflow: hidden;

        h2 {
          flex: 0 0 1px;
        }

        .subquests-box {
          flex: 1;
          overflow-y: auto;
          margin: 0;
          padding: 0;
          list-style: none;

          li {
            display: flex;
            align-items: center;
            background: rgba(255, 255, 255, .3);
            height: 30px;
            border-radius: 5px;
            margin: 0 4px 2px 0;
            border: 1px solid transparent;
            transition: border-color .3s ease, box-shadow .3s ease;

            &:hover {
              border-color: $primary-accent-color;
              box-shadow: 0 0 2px $primary-accent-color inset;
            }
          }

          h2 {
            flex: 1;
            border: none;
            margin: 0 8px;
            font-size: 14px;
            line-height: 30px;
            cursor: pointer;
            transition: color .3s ease;
          }

          .actions {
            flex: 0 0 100px;
            height: 100%;
          }
        }

        footer {
          flex: 0 0 1px;
          margin: 8px 8px 0 8px;
        }
      }

    }

    .editor {
      height: calc(100% - 26px);
    }

    .gmnotes .editor {
      height: calc(100% - 36px);
    }

    .tox .tox-toolbar-overlord {
      background-color: transparent;
      border-bottom: 1px solid #222;
      padding-bottom: 4px;
    }

    .tox .tox-toolbar,
    .tox .tox-toolbar__overflow,
    .tox .tox-toolbar__primary {
      background: transparent;
      background-color: transparent;
    }

    .tox.tox-tinymce .tox-tbtn {
      padding: 0;
      margin: 0 0 0 4px;
      width: 32px;
    }

    .tox.tox-tinymce .tox-tbtn[title="Formats"] {
      width: 90px;
    }

  }
}
