#forien-quest-log,
#forien-quest-log-form,
.window-app.forien-quest-preview {

	.window-content {
    padding: 0;
    height: 100%;
    overflow-x: unset;
    overflow-y: unset;
  }

  .tab {
  	height: 100%;
  	display: none;

    &.active {
      display: block;
    }
  }

	h1 {
    flex: 0 0 1px;
    font-size: 22px;
    line-height: 1;
    font-weight: 700;
    padding: 0 0 4px 0;
    margin: 0 0 8px 0;
  }

  h2 {
    font-size: 18px;
    font-weight: 700;
    padding: 0 0 2px 0;
    margin: 0 0 4px 0;
    border-width: 2px;
  }

  label {
    display: block;
    margin-bottom: 3px;
  }

 	input[type="text"] {
    border: none;
    background: $background-color-light;
    padding: 4px 8px;
    box-shadow: 0 0 3px 1px transparent inset;
    transition: box-shadow .3s ease;
    height: 26px;

    &:hover {
      box-shadow: 0 0 0 1px $primary-accent-color inset;
    }
  }

  button {
    height: 30px;
    border-radius: 5px;
    margin-top: 2px;
    margin-right: 4px;
    margin-bottom: 2px;
    transition:
      border-color .3s ease,
      background .3s ease,
      box-shadow .3s ease;
    cursor: pointer;

    &:first-child {
    	margin-left: 0;
    }
  }

  nav {
    flex: 0 0 40px;
    background: rgba(255,255,255,.3);
    justify-content: flex-start;
    align-items: center;
    padding: 0 16px;
    font-size: larger;

    .item {
      text-align: left;
      flex: 0 0 1px;
      margin-left: 1rem;
      white-space: nowrap;
      transition: color .3s ease;

      &:hover {
        text-shadow: none;
        color: $primary-accent-color;
      }

      &:first-child {
        margin-left: 0
      }

      &.active,
      &.active:hover {
        font-weight: 700;
        text-shadow: none;
        color: inherit;
      }
    }
  }

  .hidden {
    display: none;
  }

  i {
    &.is-personal {
      padding: 0 4px;
    }

    &.is-hidden {
      padding: 0 4px;
    }
  }

  .editor {
    height: 100%;
    padding: 8px;
    background: $background-color-light;
    border-radius: 5px;

    .editor-content {
      height: 100%;
      padding: 0;
      padding: 0 4px 0 0;
      overflow: auto;
    }
  }

  .actions {
      flex: 0 0 100px;
      border-left: 1px solid rgba(0,0,0,.15);
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;

      &.is-player {
        flex: 0 0 30px;
      }

      i {
        font-size: 16px;
        margin-left: 4px;
        cursor: pointer;
        color: rgba(0,0,0,.75);
        transition: color .3s ease;

        &.delete {
          color: rgba(255,0,0,.4);
        }

        &.fa-play {
          font-size: 14px;
          padding-top: 2px;
        }

        &:hover {
          color: $primary-accent-color;
        }

        &:first-child {
          margin: 0;
        }
      }
    }

  // Provides specific overrides to make sure the layout is consistent across game systems.
  // In particular this is needed for Blades In the Dark `v3.3.0`.
  section {
    flex-direction: row;
    display: block;
    justify-content: flex-start;
  }
}