$background: #aaa;
$background-parchment: url("/ui/parchment.jpg") repeat;
$background-header: #666;
$border: #333;
$border-active: #833;

$footer-padding: 4px;
$footer-size: 32px + 2*$footer-padding;

#forien-quest-log {

  nav.log-tabs {
    display: block;
    position: absolute;
    left: -120px;
    top: 32px;
    z-index: -10;

    a.item {
      display: block;
      width: 125px;
      height: 32px;
      overflow: hidden;
      text-align: right;

      padding: 7px 15px;
      margin-bottom: 5px;

      border: 1px solid $border;
      background: $background-parchment;
      box-shadow: inset 0 0 0 2000px rgba(133, 133, 133, 0.1);

      &.active {
        border: 2px solid $border-active;
        box-shadow: inset 0 0 0 2000px rgba(250, 250, 250, 0.1);
      }
    }
  }

  section.log-body {
    min-height: 100%;

    margin-bottom: -$footer-size;

    table {
      border: none;
      background: none;

      tr {
        th {
          border-bottom: 1px #666 solid;
        }

        td {
          text-align: center;

          &.title {
            text-align: left;
            font-weight: bold;
            cursor: pointer;

            &:hover {
              text-shadow: 2px 2px 5px rgba(51, 51, 51, 0.4);
            }
          }

          &.img {
            cursor: pointer;

            img {
              width: 55px;
              height: 55px;
              border: none;
            }
          }

        }

        &:nth-child(even) {
          background: rgba(0, 0, 0, 0.05)
        }
      }
    }
  }

  footer {
    height: $footer-size;
    padding: $footer-padding;
  }

}

#forien-quest-log-form {
  .grid-container {
    display: grid;
    grid-template-columns: 50% 50fr;
    grid-template-rows: auto 240px 217px auto;
    gap: 1px 1px;
    grid-template-areas: ". ." ". ." "tasks tasks" "footer footer";

    .tasks {
      grid-area: tasks;
    }

    .footer {
      grid-area: footer;
    }
  }


  fieldset {
    box-sizing: border-box;
    margin: 0;

    &.actor-data-fieldset {
      img {
        &.actor-portrait {
          width: 82px;
          height: 82px;
          border: none;
          float: left;
          margin-right: 12px;
        }
      }

      h3 {
        &.actor-name {
          line-height: 82px;
          margin: 0;
        }
      }

      .hidden {
        display: none;
      }
    }

    &.tasks {
      margin-top: 10px;
      border: none;
      overflow: hidden;

      .add-new-task {
        cursor: pointer;
      }

      .list {
        overflow-y: scroll;
        height: calc(100% - 35px);

        .task-entry {
          input {
            width: 97%;
            margin: 4px;
          }
        }
      }
    }

    &.tinymce-fieldset {
      min-height: 240px;
      border: none;
    }
  }
}
