.forien-quest-preview {
  min-width: 620px;
  min-height: 500px;

  .window-content {
    height: 100%;
  }

  .quest-preview {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto minmax(0, 1fr);
    gap: 1px 1px;
    grid-template-areas: "." ".";
    height: 100%;
  }

  nav {
    &.quest-tabs {
      .hidden {
        display: none;
      }
    }
  }

  .quest-body {
    height: 100%;

    .details {
      height: 100%;

      .details-tab {
        height: 100%;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto minmax(0, 1fr);
        gap: 1px 1px;
        grid-template-areas: "." ".";
      }

      .grid-container {
        height: 100%;
        display: grid;
        grid-template-columns: 1fr 1.3fr 0.8fr 1fr;
        grid-template-rows: 200px minmax(0, 1fr);
        gap: 1px 1px;
        grid-template-areas: "quest-giver-gc description-gc description-gc description-gc" "tasks-gc tasks-gc rewards-gc rewards-gc";

        .quest-giver-gc {
          grid-area: quest-giver-gc;
          display: grid;
          grid-template-columns: 1fr;
          grid-template-rows: auto auto minmax(0, 1fr);
          gap: 1px 1px;
          grid-template-areas: "." ".";
        }

        .description-gc {
          grid-area: description-gc;
        }

        .tasks-gc {
          grid-area: tasks-gc;
          display: grid;
          grid-template-columns: 1fr;
          grid-template-rows: auto minmax(0, 1fr);
          gap: 1px 1px;
          grid-template-areas: "." ".";
        }

        .rewards-gc {
          grid-area: rewards-gc;
          display: grid;
          grid-template-columns: 1fr;
          grid-template-rows: auto minmax(0, 1fr);
          gap: 1px 1px;
          grid-template-areas: "." ".";
        }
      }

      .details-header {
        position: relative;

        small {
          font-size: 0.9rem;
          cursor: pointer;
          font-style: italic;
          margin-left: 20px;
        }

        .actions {
          position: absolute;
          right: 0;
          top: 8px;

          i {
            cursor: pointer;
          }
        }
      }

      .quest-giver-gc {
        div {
          text-align: center;
          position: relative;

          span {
            font-weight: bold;
            text-align: center;
          }

          img {
            width: 120px;
            height: 120px;
            border: none;
            object-fit: cover;
            border-radius: 6px;
          }

          .toggleImage {
            position: absolute;
            bottom: 5px;
            right: 5px;
          }

          span, img, .toggleImage {
            cursor: pointer;
          }
        }
      }

      .description-gc {
        .description {
          height: 100%;
          overflow: auto;
        }

        .editor {
          height: 100%;

          .editor-content {
            height: 100%;
            overflow: auto;
          }
        }
      }

      .del-btn {
        cursor: pointer;
        margin-left: 10px;

        i {
          pointer-events: none;
        }
      }

      .tasks-gc {
        .add-new-task {
          cursor: pointer;
        }

        .tasks-box {
          overflow: auto;

          .task {
            display: grid;
            grid-template-columns: 26px auto 18px;
            gap: 1px 1px;
            grid-template-areas: ". . .";
            margin-right: 15px;
            margin-top: 5px;
            min-height: 20px;

            .quest-name {
              font-weight: bold;
              cursor: pointer;
              font-style: italic;
            }

            .editable-container {
              display: flex;
              align-items: center;

              .toggleHidden {
                margin-right: 4px;
              }
            }

            .state-container {
              position: relative;

              i {
                &.state {
                  top: 2px;
                  left: 3px;
                  font-size: 1.1em;

                  &.fa-check, &.fa-times {
                    position: absolute;
                  }

                  &.fa-check {
                    color: #229933;
                  }

                  &.fa-times {
                    color: #993322;
                  }

                  &.hidden {
                    display: none;
                  }
                }

                &.state-background {
                  top: 1px;
                  font-size: 1.35em;
                  position: absolute;
                  opacity: 0.6;
                }
              }
            }
          }
        }
      }

      .rewards-gc {

        .add-abstract {
          opacity: 0.7;
          cursor: pointer;
        }

        .rewards-box {
          height: 100%;
          position: relative;
          overflow: auto;

          .drop-info {
            font-size: 1.6em;
            font-variant: small-caps;
            text-align: center;
            color: #666;
            margin: 0 20px;
            position: absolute;
            top: 50%;
            transform: translate(0, -50%);
          }

          .reward {
            margin-bottom: 2px;

            img {
              width: 34px;
              height: 34px;
              margin-right: 8px;
              float: left;
            }

            .name {
              line-height: 34px;
            }

            &.abstract-reward {
              opacity: 0.85;
              font-style: italic;
            }
          }
        }
      }

      i.fas.toggleHidden {
        cursor: pointer;

        &.fa-eye-slash {
          color: #666;
        }
      }
    }

    .management {
      grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
      grid-template-rows: minmax(0, 1fr) minmax(0, 1fr);
      gap: 1px 1px;
      height: 100%;

      &.active {
        display: grid;
      }

      .part {
        &.personal-quest {
          .quest-is-personal {
            display: grid;
            grid-template-columns: auto 1fr;
            grid-template-rows: auto auto;
            gap: 1px 1px;
            grid-template-areas: ". ." "desc desc";

            label {
              display: flex;
              align-items: center;
            }

            .personal-quest-description {
              grid-area: desc;
            }
          }

          .users {
            display: grid;
            grid-auto-rows: auto;
            grid-template-columns: max-content auto;
            gap: 1px 1px;
            padding: 8px;

            &.disabled {
              color: #666666;

              input {

              }
            }
          }
        }

        &.quest-splash {
          display: grid;
          grid-template-columns: minmax(0, 1fr);
          grid-template-rows: auto minmax(0, 1fr);
          gap: 1px 1px;
          height: 100%;

          & > * {
            justify-self: center;
          }

          .label {
            font-weight: bold;
          }

          .splash-img {
            height: 100%;
            min-width: 50%;
            object-fit: cover;
          }
        }

        &.subquests {
          display: grid;
          grid-template-columns: minmax(0, 1fr);
          grid-template-rows: auto minmax(0, 1fr) auto;
          gap: 1px 1px;
          height: 100%;

          ul.subquests-box {
            overflow-y: auto;

            li {
              .subquest {
                display: grid;
                grid-template-columns: minmax(0, 1fr) auto;
                gap: 1px 1px;

                .quest-name {
                  font-weight: bold;
                  cursor: pointer;
                }

                .actions {
                  i {
                    margin-left: 6px;
                    cursor: pointer;
                  }
                }
              }
            }
          }
        }
      }
    }

    .gmnotes {
      height: 100%;

      .editor {
        height: 100%;

        .editor-content {
          height: 100%;
        }
      }
    }
  }
}
