#forien-quest-log-floating-window {
  max-width: 400px;
  min-width: 300px;
  min-height: 200px;

  .window-content {
    color: $primary-color-darkbg-text;
    padding: 0 2px 0 0;
  }

  ol.questlog-floating {
    margin: 0;
    padding: 0;
  }

  #hidden {
    color: $primary-color-darkbg-text-hidden;
  }

  .flexrow {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  li.journal {
    padding: 4px 6px 0 0;
    line-height: 18px;

    i, a {
      flex: 0 0 21px;
      line-height: 18px;
      text-align: center;
    }
  }

  a.entity-link {
    color: $primary-color-entity-link;
  }

  i {
    &.is-personal, &.is-hidden {
      flex: 0 0 20px;
      line-height: 24px;
      cursor: pointer;
    }
  }

  .folder-toggle {
    cursor: pointer;
  }

  li.folder.collapsed > .folder-header h3 > i:before {
    content: "\f02e";
  }

  .no-content {
    text-align: center;
    margin-top: 50%;
    display: block;
  }

  .entity-name {
    flex: 0 0 1;
    width: fit-content;

    i {
      pointer-events: auto;
      cursor: pointer;
    }

    &.questlog-floating-task {
      cursor: pointer;
    }

    &::before {
      content: "\f0c8";
      display: inline-block;
      margin-right: 4px;
      font-weight: 400;
      font-family: "Font Awesome 5 Free";
      width: 16px;
    }

    &.minus-square {
      &::before {
        content: "\f146";
        display: inline-block;
        font-weight: 900;
        width: 16px;
      }
    }

    &.check-square {
      &::before {
        display: inline-block;
        content: "\f14a";
        font-weight: 900;
        width: 16px;
      }
    }
  }
}