#forien-quest-log-floating-window {
  ol.questlog-floating {
    margin: 0;
    padding: 0;
  }

  #hidden {
    color: #ffffff88;
  }

  .window-content {
    padding: 0 2px 0 0;
  }

  .flexrow {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  li.journal {
    padding: 4px 6px 0 0;
    line-height: 18px;

    i, a {
      flex: 0 0 18px;
      line-height: 18px;
      text-align: center;
    }
  }

  i {
    &.is-personal, &.is-hidden {
        flex: 0 0 20px;
        line-height: 24px;
    }
  }

  li.folder.collapsed > .folder-header h3 > i:before {
    content: "\f02e";
  }

  .no-content {
    text-align: center;
    margin-top: 50%;
    display: block;
  }
}